<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!-- Checkstyle configuration file -->
<module name="Checker">
  <module name="TreeWalker">
    <module name="Header">
      <property name="headerFile" value="${basedir}/checkstyle/java.header"/>
      <property name="ignoreLines" value="3"/>
    </module>
    <module name="JavadocMethod"/>
  </module>
</module>