<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <!-- <module name="PackageHtml"/> -->
    <module name="RegexpHeader">
        <property name="headerFile" value="${checkstyle.header.file}"/>
        <!--property name="multiLines" value="3,22,25,26,34"/-->
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="TODO|FIXME"/>
        <property name="ignoreCase" value="true"/>
        <property name="severity" value="warning"/>
    </module>
    <!--
    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java"/>
        <property name="severity" value="warning"/>
    </module>
    -->
    <property name="charset" value="UTF-8"/>
    <module name="TreeWalker">
        <!-- module name="Indentation"/-->
        <module name="UnusedImports">
            <property name="severity" value="warning"/>
        </module>
        <!-- <module name="AvoidStarImport"/> -->
        <module name="BooleanExpressionComplexity">
            <property name="severity" value="warning"/>
        </module>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <module name="EmptyStatement">
            <property name="severity" value="warning"/>
        </module>
	<!-- <module name="MissingSwitchDefault"/> -->
        <module name="ModifiedControlVariable">
            <property name="severity" value="warning"/>
        </module>
        <module name="StringLiteralEquality"/>
	<!--
	<module name="FileLength">
		<property name="max" value="1500"/>
	</module>
	-->
        <module name="FinalClass">
            <property name="severity" value="warning"/>
        </module>
        <!-- <module name="ConstantName"/> -->
        <module name="EmptyBlock">
	       <property name="severity" value="warning"/>
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="warning"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.(out)|(err)\.print(ln)?"/>
            <property name="ignoreComments" value="true"/>
        </module>
    </module>
</module>
