<?xml version="1.0" encoding="UTF-8"?>
<!--
    Checkstyle-Configuration: Common checks
    Description: none
-->
<!DOCTYPE module [
<!ELEMENT module (module|property|metadata|message)*>
<!ATTLIST module name NMTOKEN #REQUIRED>

<!ELEMENT property EMPTY>
<!ATTLIST property
	name NMTOKEN #REQUIRED
	value CDATA #REQUIRED
	default CDATA #IMPLIED
>

<!ELEMENT metadata EMPTY>
<!ATTLIST metadata
	name NMTOKEN #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT message EMPTY>
<!ATTLIST message
	key NMTOKEN #REQUIRED
	value CDATA #REQUIRED
>
]>
<module name="Checker">
	<property name="severity" value="error"/>
	<module name="TreeWalker">
		<module name="JavadocMethod">
			<property name="scope" value="protected"/>
			<property name="logLoadErrors" value="true"/>
			<property name="suppressLoadErrors" value="true"/>
		</module>
		<module name="JavadocType">
			<property name="scope" value="protected"/>
			<property name="allowUnknownTags" value="true"/>
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="protected"/>
		</module>
		<module name="ConstantName"/>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName"/>
		<module name="MemberName"/>
		<module name="MethodName"/>
		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z_][a-z0-9_]*)*$"/>
		</module>
		<module name="ParameterName"/>
		<module name="StaticVariableName"/>
		<module name="TypeName"/>
		<module name="IllegalImport"/>
		<module name="RedundantImport"/>
		<module name="UnusedImports"/>
		<module name="MethodLength"/>
		<module name="ParameterNumber"/>
		<module name="LineLength">
			<property name="tabWidth" value="4"/>
		</module>
		<module name="EmptyForIteratorPad"/>
		<module name="MethodParamPad"/>
		<module name="NoWhitespaceAfter"/>
		<module name="NoWhitespaceBefore"/>
		<module name="OperatorWrap"/>
		<module name="ParenPad"/>
		<module name="TypecastParenPad"/>
		<module name="WhitespaceAfter"/>
		<module name="WhitespaceAround">
			<property name="tokens"
				value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND,WILDCARD_TYPE"/>
		</module>
		<module name="ModifierOrder"/>
		<module name="RedundantModifier"/>
		<module name="AvoidNestedBlocks"/>
		<module name="EmptyBlock"/>
		<module name="LeftCurly"/>
		<module name="NeedBraces"/>
		<module name="RightCurly"/>
		<module name="EmptyStatement"/>
		<module name="EqualsHashCode"/>
		<module name="HiddenField">
			<property name="tokens" value="VARIABLE_DEF"/>
			<property name="ignoreConstructorParameter" value="true"/>
			<property name="ignoreSetter" value="true"/>
			<property name="ignoreAbstractMethods" value="true"/>
		</module>
		<module name="IllegalInstantiation"/>
		<module name="InnerAssignment"/>
		<module name="MagicNumber"/>
		<module name="MissingSwitchDefault"/>
		<module name="RedundantThrows">
			<property name="logLoadErrors" value="true"/>
			<property name="suppressLoadErrors" value="true"/>
		</module>
		<module name="SimplifyBooleanExpression"/>
		<module name="SimplifyBooleanReturn"/>
		<module name="FinalClass"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="InterfaceIsType"/>
		<module name="VisibilityModifier"/>
		<module name="ArrayTypeStyle"/>
		<module name="UpperEll"/>
		<module name="AnnotationUseStyle"/>
		<module name="MissingDeprecated"/>
		<module name="MissingOverride">
			<property name="javaFiveCompatibility" value="true"/>
		</module>
		<module name="PackageAnnotation"/>
		<module name="SuppressWarnings"/>
		<module name="AnonInnerLength"/>
		<module name="ExecutableStatementCount">
			<property name="tokens"
				value="INSTANCE_INIT,STATIC_INIT,METHOD_DEF,CTOR_DEF"/>
		</module>
		<module name="OuterTypeNumber"/>
		<module name="GenericWhitespace"/>
		<module name="EmptyForInitializerPad"/>
		<module name="CovariantEquals"/>
		<module name="DefaultComesLast"/>
		<module name="DeclarationOrder"/>
		<module name="EqualsAvoidNull"/>
		<module name="FallThrough"/>
		<module name="IllegalThrows"/>
		<module name="JUnitTestCase"/>
		<module name="ModifiedControlVariable"/>
		<module name="MultipleStringLiterals"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="NestedIfDepth">
			<property name="max" value="2"/>
		</module>
		<module name="NestedTryDepth"/>
		<module name="PackageDeclaration"/>
		<module name="ParameterAssignment"/>
		<module name="StringLiteralEquality"/>
		<module name="UnnecessaryParentheses"/>
		<module name="CyclomaticComplexity"/>
		<module name="JavaNCSS"/>
		<module name="NPathComplexity"/>
		<module name="SuperClone"/>
		<module name="SuperFinalize"/>
		<module name="ArrayTrailingComma"/>
		<module name="MutableException"/>
		<module name="BooleanExpressionComplexity">
			<property name="max" value="4"/>
		</module>
		<module name="InnerTypeLast"/>
		<module name="RegexpSinglelineJava">
			<property name="format" value="^*\.printStackTrace.*$"/>
		</module>
		<module name="AvoidStarImport"/>
		<module name="ClassTypeParameterName"/>
		<module name="MethodTypeParameterName"/>
		<module name="MethodCount"/>
		<module name="IllegalCatch"/>
		<module name="IllegalType">
			<property name="tokens" value="METHOD_DEF,PARAMETER_DEF,VARIABLE_DEF"/>
			<property name="format" value="^\d.*$"/>
		</module>
		<module name="OneStatementPerLine"/>
		<module name="OuterTypeFilename"/>
	</module>
	<module name="NewlineAtEndOfFile"/>
	<module name="Translation"/>
	<module name="FileLength"/>
	<module name="RegexpSingleline">
		<property name="format" value="\s+$"/>
		<property name="message" value="Line has trailing spaces."/>
	</module>
</module>
