<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>

    <module name="TreeWalker">
        <property name="fileExtensions" value="java"/>
        <property name="severity" value="warning"/>

        <module name="AbbreviationAsWordInName"/>
        <module name="AnnotationLocation"/>
        <module name="AnnotationUseStyle">
            <property name="trailingArrayComma" value="never"/>
        </module>
        <module name="AnonInnerLength">
            <property name="max" value="20"/>
        </module>
        <module name="ArrayTrailingComma"/>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidInlineConditionals"/>
        <module name="AvoidNestedBlocks"/>
        <module name="AvoidStarImport"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="5"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="max" value="10"/>
        </module>
        <module name="ClassTypeParameterName"/>
        <module name="ConstantName"/>
        <module name="CovariantEquals"/>
        <module name="CustomImportOrder">
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="7"/>
        </module>
        <module name="DefaultComesLast"/>
        <module name="EmptyBlock"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="ExplicitInitialization"/>
        <module name="FinalClass"/>
        <module name="GenericWhitespace"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="IllegalCatch"/>
        <module name="IllegalImport"/>
        <module name="IllegalThrows"/>
        <module name="Indentation"/>
        <module name="InnerAssignment"/>
        <module name="LeftCurly"/>
        <module name="LineLength">
            <property name="max" value="150"/>
        </module>
        <module name="MagicNumber"/>
        <module name="MethodCount">
            <property name="maxTotal" value="20"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="40"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <module name="MultipleStringLiterals">
            <property name="allowedDuplicates" value="3"/>
        </module>
        <module name="MultipleVariableDeclarations"/>
        <module name="MutableException"/>
        <module name="NeedBraces"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OneTopLevelClass"/>
        <module name="OperatorWrap"/>
        <module name="OuterTypeFilename"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="ParameterNumber">
            <property name="max" value="4"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>
        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="ThrowsCount"/>
        <module name="TypecastParenPad"/>
        <module name="UnnecessaryParentheses"/>
        <module name="UnusedImports"/>
        <module name="UpperEll"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true" />
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodTypeParameterName"/>
        <module name="InterfaceTypeParameterName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
    </module>

    <module name="FileLength">
        <property name="max" value="500"/>
        <property name="fileExtensions" value="{java}"/>
    </module>

    <module name="NewlineAtEndOfFile"/>

    <module name="UniqueProperties">
        <property name="fileExtensions" value="properties" />
    </module>
</module>