<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">


<module name="Checker">
	<module name="TreeWalker">

		<module name="AbstractClassName">
			<property name="format" value="^[A-Z][a-zA-Z0-9]*$" />
			<property name="ignoreModifier" value="true" />
		</module>
		<module name="ClassTypeParameterName">
			<property name="format" value="^[A-Z][A-Z]*$" />
		</module>
		<module name="ConstantName" />
		<module name="LocalFinalVariableName">
			<property name="format" value="^((tmp|e)[A-Z][a-zA-Z0-9]*|i|j|k|e)$" />
		</module>
		<module name="LocalVariableName">
			<property name="format" value="^(tmp[A-Z][a-zA-Z0-9]*|i|j|k)$" />
			<property name="tokens" value="VARIABLE_DEF" />
		</module>
		<module name="LocalVariableName">
			<property name="format" value="^e([A-Z][a-zA-Z0-9]*)?$" />
			<property name="tokens" value="PARAMETER_DEF" />
		</module>
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="MethodTypeParameterName">
			<property name="format" value="^[A-Z][A-Z]*$" />
		</module>
		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z_][a-z0-9_]*)*$" />
		</module>
		<module name="ParameterName">
			<property name="format" value="^an?[A-Z][a-zA-Z0-9]*$" />
		</module>
		<module name="StaticVariableName" />
		<module name="TypeName">
			<property name="format" value="^(([A-Z][a-zA-Z0-9]*)|(Messages_[a-z]{2}))$" />
		</module>
		<module name="JavadocType">
			<property name="authorFormat" value="\S" />
		</module>
		<module name="JavadocMethod">
			<property name="scope" value="package" />
			<property name="allowUndeclaredRTE" value="true" />
			<property name="allowThrowsTagsForSubclasses" value="true" />
			<property name="suppressLoadErrors" value="true" />
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="package" />
		</module>
		<module name="JavadocStyle">
			<property name="scope" value="package" />
			<property name="checkEmptyJavadoc" value="true" />
			<property name="tokens" value="INTERFACE_DEF,CLASS_DEF" />
		</module>
		<module name="JavadocStyle">
			<property name="scope" value="package" />
			<property name="tokens" value="METHOD_DEF,CTOR_DEF,VARIABLE_DEF" />
		</module>
		<module name="AnnotationUseStyle">
			<property name="elementStyle" value="compact" />
		</module>
		<module name="MissingDeprecated" />
		<module name="MissingOverride">
			<property name="severity" value="error" />
			<property name="javaFiveCompatibility" value="true" />
		</module>
		<module name="EmptyBlock">
			<property name="option" value="text" />
		</module>
		<module name="LeftCurly">
			<property name="maxLineLength" value="120" />
		</module>
		<module name="NeedBraces" />
		<module name="RightCurly" />
		<module name="HideUtilityClassConstructor" />
		<module name="AvoidNestedBlocks" />
		<module name="AvoidInlineConditionals" />
		<module name="CovariantEquals" />
		<module name="EmptyStatement" />
		<module name="EqualsAvoidNull" />
		<module name="EqualsHashCode" />
		<module name="HiddenField" />
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<module name="RedundantThrows">
			<property name="allowUnchecked" value="true" />
			<property name="allowSubclasses" value="true" />
			<property name="suppressLoadErrors" value="true" />
		</module>
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="SuperClone" />
		<module name="SuperFinalize" />
		<module name="NoFinalizer" />
		<module name="OneStatementPerLine" />
		<module name="PackageDeclaration" />
		<module name="ParameterAssignment" />
		<module name="ExplicitInitialization" />
		<module name="DefaultComesLast" />
		<module name="FallThrough" />
		<module name="MultipleVariableDeclarations" />
		<module name="UnnecessaryParentheses" />
		<module name="AvoidStarImport" />
		<module name="AvoidStaticImport" />
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UnusedImports" />
		<module name="ArrayTypeStyle" />
		<module name="UpperEll" />
		<module name="ModifierOrder" />
		<module name="GenericWhitespace" />
		<module name="EmptyForInitializerPad" />
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter">
			<property name="tokens"
				value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS" />
		</module>
		<module name="NoWhitespaceBefore">
			<property name="allowLineBreaks" value="true" />
			<property name="tokens" value="SEMI,DOT,POST_DEC,POST_INC" />
		</module>
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad">
			<property name="tokens" value="RPAREN,TYPECAST" />
		</module>
		<module name="WhitespaceAfter" />
		<module name="WhitespaceAround">
			<property name="allowEmptyConstructors" value="true" />
			<property name="allowEmptyMethods" value="true" />
		</module>


	</module>
	<module name="FileTabCharacter" />
</module>
