<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <module name="FallThrough"/>
        <module name="HiddenField">
            <property name="ignoreSetter" value="true"/>
            <property name="ignoreConstructorParameter" value="true"/>
        </module>
        <module name="HideUtilityClassConstructor"/>
        <module name="LineLength">
            <property name="max" value="120"/>
            <property name="severity" value="info"/>
        </module>
        <module name="MethodLength"/>
        <module name="MethodParamPad">
            <property name="severity" value="warning"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <!--<module name="MultipleStringLiterals"/>-->
        <module name="NeedBraces"/>
        <module name="RedundantImport"/>
        <module name="RedundantModifier">
            <property name="tokens" value="VARIABLE_DEF, ANNOTATION_FIELD_DEF"/>
        </module>
        <module name="RedundantThrows"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName">
            <property name="format" value="[A-Z]{1,}[_A-Z0-9]{0,}[A-Z0-9]{1,}"/>
        </module>
        <module name="StringLiteralEquality"/>
        <module name="UnusedImports"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
    </module>
</module>
