<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<module name="TreeWalker">
		<property name="cacheFile" value="target/checkstyle/cacheFile"/>
		<property name="tabWidth" value="4"/>

		<module name="AnnotationUseStyle"/>
		<module name="MissingDeprecated"/>
		<module name="PackageAnnotation"/>
		<module name="AnnotationLocation"/>
		<module name="EmptyBlock"/>
		<module name="LeftCurly"/>
		<module name="NeedBraces"/>
		<module name="RightCurly"/>
		<module name="AvoidNestedBlocks"/>
		<module name="VisibilityModifier">
			<property name="protectedAllowed" value="true"/>
		</module>
		<module name="FinalClass"/>
		<module name="InterfaceIsType"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="DesignForExtension"/>
		<module name="MutableException"/>
		<module name="ThrowsCount">
			<property name="max" value="2"/>
		</module>
		<module name="AvoidInlineConditionals"/>
		<module name="CovariantEquals"/>
		<module name="EmptyStatement"/>
		<module name="EqualsAvoidNull"/>
		<module name="EqualsHashCode"/>
		<module name="FinalLocalVariable">
			<property name="tokens" value="PARAMETER_DEF"/>
		</module>
		<module name="IllegalToken">
			<property name="tokens" value="LITERAL_NATIVE"/>
		</module>
		<module name="InnerAssignment"/>
		<module name="MagicNumber"/>
		<module name="MissingSwitchDefault"/>
		<module name="ModifiedControlVariable"/>
		<module name="SimplifyBooleanExpression"/>
		<module name="SimplifyBooleanReturn"/>
		<module name="StringLiteralEquality"/>
		<module name="NestedForDepth"/>
		<module name="NestedIfDepth"/>
		<module name="NestedTryDepth"/>
		<module name="NoClone"/>
		<module name="NoFinalizer"/>
		<module name="IllegalCatch"/>
		<module name="IllegalThrows"/>
		<module name="PackageDeclaration"/>
		<module name="ReturnCount"/>
		<module name="IllegalType"/>
		<module name="ParameterAssignment"/>
		<module name="ExplicitInitialization"/>
		<module name="DefaultComesLast"/>
		<module name="FallThrough"/>
		<module name="MultipleStringLiterals"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="RequireThis">
			<property name="checkMethods" value="false"/>
		</module>
		<module name="UnnecessaryParentheses"/>
		<module name="OneStatementPerLine"/>
		<module name="VariableDeclarationUsageDistance"/>
		<module name="OverloadMethodsDeclarationOrder"/>
		<module name="AvoidStarImport"/>
		<module name="IllegalImport"/>
		<module name="RedundantImport"/>
		<module name="UnusedImports"/>
		<module name="JavadocType">
			<property name="scope" value="package"/>
			<property name="authorFormat"
			          value="[-A-Za-z\u00C0-\u00F6\u00F8-\u00FF]+\s[-A-Za-z\u00C0-\u00F6\u00F8-\u00FF]+\s\(\b[a-z0-9._%+-]+@[a-z0-^9.-]+\.[a-z]{2,4}\b\)"/>
			<property name="versionFormat" value="\$Id\$"/>
		</module>
		<module name="JavadocMethod">
			<property name="scope" value="package"/>
			<property name="tokens" value="METHOD_DEF"/>
			<property name="ignoreMethodNamesRegex" value="main"/>
		</module>
		<module name="JavadocStyle">
			<property name="scope" value="package"/>
		</module>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="AtclauseOrder"/>
		<module name="JavadocParagraph"/>
		<module name="BooleanExpressionComplexity"/>
		<module name="ClassDataAbstractionCoupling"/>
		<module name="ClassFanOutComplexity"/>
		<module name="CyclomaticComplexity"/>
		<module name="NPathComplexity"/>
		<module name="JavaNCSS">
			<property name="methodMaximum" value="5"/>
			<property name="classMaximum" value="300"/>
			<property name="fileMaximum" value="1000"/>
		</module>
		<module name="TodoComment">
			<property name="format" value="(TODO)|(@todo)|(FIXME)"/>
		</module>
		<module name="UpperEll"/>
		<module name="ArrayTypeStyle"/>
		<module name="FinalParameters">
			<property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
		</module>
		<module name="OuterTypeFilename"/>
		<module name="AvoidEscapedUnicodeCharacters"/>
		<module name="RedundantModifier"/>
		<module name="ConstantName"/>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName"/>
		<module name="AbbreviationAsWordInName">
			<property name="allowedAbbreviations" value="HTML,POST,DELETE,JSON"/>
		</module>
		<module name="LineLength">
			<property name="max" value="120"/>
		</module>
		<module name="AnonInnerLength">
			<property name="max" value="30"/>
		</module>
		<module name="ParameterNumber">
			<property name="max" value="3"/>
		</module>
		<module name="OuterTypeNumber"/>
		<module name="GenericWhitespace"/>
		<module name="EmptyForInitializerPad"/>
		<module name="EmptyForIteratorPad"/>
		<module name="MethodParamPad"/>
		<module name="NoWhitespaceAfter"/>
		<module name="NoWhitespaceBefore"/>
		<module name="OperatorWrap"/>
		<module name="ParenPad"/>
		<module name="TypecastParenPad"/>
		<module name="WhitespaceAfter"/>
		<module name="WhitespaceAround"/>
		<module name="NoLineWrap"/>
		<module name="EmptyLineSeparator">
			<property name="allowNoEmptyLineBetweenFields" value="true"/>
		</module>
		<module name="SeparatorWrap">
			<property name="option" value="nl"/>
			<property name="tokens" value="DOT"/>
		</module>
		<module name="SeparatorWrap">
			<property name="tokens" value="COMMA"/>
		</module>
	</module>

	<module name="Translation"/>
	<module name="FileLength">
		<property name="max" value="1000"/>
	</module>
</module>