certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
Deprecated==1.2.10
idna==2.7
kiwisolver==1.2.0
matplotlib==2.2.3
matplotlib-venn==0.11.5
numpy==1.18.4
PyGithub==1.43.2
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.20.0
scipy==1.4.1
six==1.11.0
tqdm==4.28.1
urllib3==1.24.3
wrapt==1.12.1
