<?xml version="1.0" encoding="UTF-8"?>
<!--

    Maven package-info.java Plugin - Autogenerates package-info.java files with arbitrary headers
    Copyright © 2012-2018 shadowhunt (dev@shadowhunt.de)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">

    <property name="severity" value="error" />

    <module name="com.puppycrawl.tools.checkstyle.filters.SuppressWarningsFilter"/>

    <module name="com.puppycrawl.tools.checkstyle.TreeWalker">
        <property name="severity" value="error"/>
        <module name="com.puppycrawl.tools.checkstyle.checks.SuppressWarningsHolder">
            <property name="severity" value="error"/>
        </module>

        <!-- annotations -->
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.AnnotationLocationCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.AnnotationUseStyleCheck">
            <property name="trailingArrayComma" value="never"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.MissingDeprecatedCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.MissingOverrideCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.PackageAnnotationCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- block checks -->
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.AvoidNestedBlocksCheck">
            <property name="allowInSwitchCase" value="true"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.EmptyBlockCheck">
            <property name="severity" value="error"/>
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.LeftCurlyCheck">
            <property name="severity" value="error"/>
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.NeedBracesCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.RightCurlyCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- class design -->
        <module name="com.puppycrawl.tools.checkstyle.checks.design.FinalClassCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.HideUtilityClassConstructorCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.InterfaceIsTypeCheck">
            <property name="allowMarkerInterfaces" value="false"/>
            <property name="severity" value="info"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.MutableExceptionCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.OneTopLevelClassCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.design.ThrowsCountCheck">
            <property name="max" value="4"/>
            <property name="severity" value="error"/>
        </module>
        <!--module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module-->

        <!-- coding -->
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.CovariantEqualsCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.DefaultComesLastCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EmptyStatementCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EqualsAvoidNullCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EqualsHashCodeCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.FallThroughCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.HiddenFieldCheck">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.IllegalThrowsCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.InnerAssignmentCheck">
            <property name="severity" value="error"/>
        </module>
        <!--module name="MagicNumber">
            <property name="ignoreHashCodeMethod" value="true"/>
        </module-->
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MissingSwitchDefaultCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.ModifiedControlVariableCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MultipleVariableDeclarationsCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NestedForDepthCheck">
            <property name="max" value="3"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NoCloneCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NoFinalizerCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.OneStatementPerLineCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.PackageDeclarationCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.ParameterAssignmentCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.SimplifyBooleanExpressionCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.SimplifyBooleanReturnCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.StringLiteralEqualityCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- headers -->

        <!-- imports -->
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStaticImportCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.IllegalImportCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.RedundantImportCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.UnusedImportsCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- javadoc -->
        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.AtclauseOrderCheck">
            <property name="severity" value="error"/>
        </module>
        <!--module name="JavadocStyle"/-->
        <!--module name="SummaryJavadocCheck"/-->

        <!-- metrics -->

        <!-- miscellaneous -->
        <module name="com.puppycrawl.tools.checkstyle.checks.ArrayTypeStyleCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.AvoidEscapedUnicodeCharactersCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.FinalParametersCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.indentation.IndentationCheck">
            <property name="arrayInitIndent" value="8"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.OuterTypeFilenameCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.UpperEllCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- modifiers -->
        <module name="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.modifier.RedundantModifierCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- naming conventions -->
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.AbstractClassNameCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.LocalVariableNameCheck">
            <property name="allowOneCharVarInForLoop" value="true"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.naming.TypeNameCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- regex -->

        <!-- size violation -->
        <module name="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck">
            <property name="max" value="300"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.sizes.OuterTypeNumberCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.sizes.ParameterNumberCheck">
            <property name="severity" value="error"/>
        </module>

        <!-- whitespace -->
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.GenericWhitespaceCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.NoWhitespaceAfterCheck">
            <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS,ARRAY_DECLARATOR"/>
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.NoWhitespaceBeforeCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAfterCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.NoLineWrapCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.EmptyLineSeparatorCheck">
            <property name="tokens" value="IMPORT,CLASS_DEF,ENUM_DEF,INTERFACE_DEF,CTOR_DEF,METHOD_DEF,STATIC_INIT,INSTANCE_INIT,VARIABLE_DEF"/>
            <property name="severity" value="error"/>
        </module>
    </module>

    <!-- miscellaneous -->
    <module name="com.puppycrawl.tools.checkstyle.checks.NewlineAtEndOfFileCheck">
        <property name="severity" value="error"/>
    </module>
    <module name="com.puppycrawl.tools.checkstyle.checks.TranslationCheck">
        <property name="severity" value="error"/>
    </module>
    <module name="com.puppycrawl.tools.checkstyle.checks.UniquePropertiesCheck">
        <property name="severity" value="error"/>
    </module>

    <!-- whitespace -->
    <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.FileTabCharacterCheck">
        <property name="severity" value="error"/>
    </module>
</module>
