<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module
    PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
  <module name="NewlineAtEndOfFile"/>

  <module name="TreeWalker">
    <!--
      Naming Conventions
    -->
    <module name="ConstantName">
      <property name="format" value="^[A-Z](_?[A-Z0-9]+)*$"/>
    </module>

    <!--
      Headers
    -->
    <module name="Header">
      <property name="headerFile" value="LICENSE.txt"/>
      <property name="ignoreLines" value="2"/>
    </module>

    <!--
      Imports
    -->
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="UnusedImports"/>

    <!--
      Size Violations
    -->
    <module name="LineLength">
      <property name="max" value="80"/>
      <property name="ignorePattern"
                value="^\s*(\* \$Id\:[^$]*\$)|(\* @see .*)$"/>
    </module>

    <!--
      Whitespace
    -->
    <module name="TabCharacter"/>
    <module name="ParenPad"/>

    <!--
      Blocks
    -->
    <module name="LeftCurly">
      <property name="option" value="nlow"/>
      <property name="maxLineLength" value="80"/>
      <property name="tokens"
                value="CLASS_DEF,CTOR_DEF,INTERFACE_DEF,METHOD_DEF"/>
    </module>
    <module name="LeftCurly">
      <property name="option" value="eol"/>
      <property name="tokens"
                value="LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE"/>
    </module>
    <module name="RightCurly">
      <property name="option" value="same"/>
    </module>

    <!--
      Miscellaneous
    -->
    <module name="GenericIllegalRegexp">
      <property name="format" value="\s+$"/>
      <property name="message" value="Line has trailing spaces"/>
    </module>
  </module>
</module>
