<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE module PUBLIC '-//Puppy Crawl//DTD Check Configuration 1.3//EN'
                        'http://www.puppycrawl.com/dtds/configuration_1_3.dtd'>

<module name='Checker'>

    <property name='basedir' value='${basedir}' />
    <property name='localeCountry' value='' />
    <property name='localeLanguage' value='' />

    <!-- Suppressions -->
    <module name='SuppressionFilter'>
        <property name='file' value='src/main/resources/suppressions.xml' />
    </module>

    <!-- Use spaces instead of tabs -->
    <module name='FileTabCharacter'>
        <property name='eachLine' value='true' />
    </module>

    <module name='NewlineAtEndOfFile' />

    <!-- Trailing whitespaces -->
    <module name='RegexpSingleline'>
        <property name='format' value='\s+$' />
        <property name='message' value='Trailing whitespace.' />
    </module>

    <module name='Translation' />

    <module name='TreeWalker'>

        <property name='tabWidth' value='4' />

        <!-- Annotations -->

        <module name='AnnotationUseStyle' />
        <module name='MissingDeprecated' />
        <module name='MissingOverride' />
        <module name='PackageAnnotation' />
        <module name='SuppressWarnings' />

        <!-- Block Checks -->

        <module name='EmptyBlock' />
        <module name='LeftCurly' />
        <module name='NeedBraces' />
        <module name='RightCurly' />
        <module name='AvoidNestedBlocks' />

        <!-- Class Design -->

        <module name='VisibilityModifier'>
            <property name='publicMemberPattern' value='^public' />
        </module>

        <module name='FinalClass' />
        <module name='InterfaceIsType' />
        <module name='MutableException' />

        <module name='ThrowsCount'>
            <property name='max' value='5' />
        </module>

        <!-- Coding -->

        <module name='CovariantEquals' />
        <module name='EmptyStatement' />
        <module name='EqualsHashCode' />
        <module name='FinalLocalVariable' />
        <module name='InnerAssignment' />
        <module name='MissingSwitchDefault' />
        <module name='ModifiedControlVariable' />

        <module name='RedundantThrows'>
            <property name='suppressLoadErrors' value='true' />
        </module>

        <module name='SimplifyBooleanExpression' />
        <module name='SimplifyBooleanReturn' />
        <module name='StringLiteralEquality' />
        <module name='NoClone' />
        <module name='NoFinalizer' />
        <module name='IllegalCatch' />
        <module name='IllegalThrows' />
        <module name='PackageDeclaration' />
        <module name='JUnitTestCase' />

        <module name='ReturnCount'>
            <property name='max' value='4' />
        </module>

        <module name='IllegalType' />
        <module name='DeclarationOrder' />
        <module name='ParameterAssignment' />
        <module name='ExplicitInitialization' />
        <module name='DefaultComesLast' />
        <module name='FallThrough' />

        <module name='MultipleStringLiterals'>
            <property name='allowedDuplicates' value='5' />
        </module>

        <module name='MultipleVariableDeclarations' />
        <module name='UnnecessaryParentheses' />
        <module name='OneStatementPerLine' />

        <!-- Imports -->

        <module name='IllegalImport' />
        <module name='RedundantImport' />
        <module name='UnusedImports' />
        <module name='ImportOrder' />

        <!-- Javadoc Comments -->

        <module name='JavadocStyle' />

        <!-- Metrics -->

        <module name='BooleanExpressionComplexity' />

        <!-- Miscellaneous -->

        <module name='UncommentedMain'>
            <property name='excludedClasses' value='App$' />
        </module>

        <module name='UpperEll' />
        <module name='ArrayTypeStyle' />
        <module name='FinalParameters' />
        <module name='Indentation' />
        <module name='TrailingComment' />
        <module name='OuterTypeFilename' />

        <!-- Modifiers -->

        <module name='ModifierOrder' />
        <module name='RedundantModifier' />

        <!--- Naming Conventions -->

        <module name='AbstractClassName' >
            <!-- Default requires all classes ending in "Factory" to be abstract -->
            <property name="format" value="^Abstract.*$"/>
        </module>
        <module name='ClassTypeParameterName' />
        <module name='ConstantName' />
        <module name='LocalFinalVariableName' />
        <module name='LocalVariableName' />
        <module name='MemberName' />
        <module name='MethodName' />
        <module name='MethodTypeParameterName' />

        <module name='PackageName'>
            <property name='format' value='^[a-z]+(\.[a-z][a-z0-9]*)*$' />
        </module>

        <module name='ParameterName' />
        <module name='StaticVariableName' />
        <module name='TypeName' />

        <!-- Whitespace -->

        <module name='GenericWhitespace' />
        <module name='EmptyForInitializerPad' />
        <module name='EmptyForIteratorPad' />
        <module name='MethodParamPad' />

        <module name='NoWhitespaceAfter'>
            <property name='tokens' value='BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS' />
        </module>

        <module name='NoWhitespaceBefore'>
            <property name='tokens' value='SEMI, DOT, POST_DEC, POST_INC' />
            <property name='allowLineBreaks' value='true' />
        </module>

        <module name='OperatorWrap'>
            <property name='option' value='eol' />
        </module>

        <module name='ParenPad' />
        <module name='TypecastParenPad' />
        <module name='WhitespaceAfter' />

        <module name='WhitespaceAround'>
            <property name='allowEmptyConstructors' value='true' />
            <property name='allowEmptyMethods' value='true' />
        </module>

    </module>

</module>
