<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2013-2018 by Vegard IT GmbH, Germany, https://vegardit.com
   SPDX-License-Identifier: Apache-2.0
   @author Sebastian Thomschke, Vegard IT GmbH
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<!--
    Checkstyle-Configuration: vegardit.com Checks
    Description: none
-->
<module name="Checker">
   <property name="severity" value="warning" />
   <module name="TreeWalker">
      <module name="PackageAnnotation" />
      <module name="AnnotationUseStyle">
         <property name="elementStyle" value="compact" />
      </module>
      <module name="MissingOverride" />
      <module name="AnnotationLocation" />
      <module name="JavadocMethod">
         <property name="allowUndeclaredRTE" value="true" />
         <property name="allowThrowsTagsForSubclasses" value="true" />
         <property name="allowMissingParamTags" value="true" />
         <property name="allowMissingThrowsTags" value="true" />
         <property name="allowMissingReturnTag" value="true" />
         <property name="allowMissingJavadoc" value="true" />
         <property name="allowMissingPropertyJavadoc" value="true" />
         <property name="suppressLoadErrors" value="true" />
      </module>
      <module name="NonEmptyAtclauseDescription" />
      <module name="AtclauseOrder" />
      <module name="SingleLineJavadoc" />
      <module name="ConstantName">
         <metadata name="net.sf.eclipsecs.core.comment" value="Non-private constants" />
         <property name="applyToPrivate" value="false" />
      </module>
      <module name="MemberName">
         <metadata name="net.sf.eclipsecs.core.comment" value="Private Members" />
         <property name="applyToPublic" value="false" />
         <property name="applyToProtected" value="false" />
         <property name="applyToPackage" value="false" />
         <property name="format" value="^[_a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="MethodName">
         <property name="format" value="^[_a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="PackageName" />
      <module name="ParameterName">
         <property name="accessModifiers" value="public" />
      </module>
      <module name="StaticVariableName">
         <metadata name="net.sf.eclipsecs.core.comment" value="Private Fields" />
         <property name="applyToPublic" value="false" />
         <property name="applyToProtected" value="false" />
         <property name="applyToPackage" value="false" />
         <property name="format" value="^[_a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="TypeName">
         <property name="format" value="^[A-Z][_a-zA-Z0-9]*$" />
      </module>
      <module name="AbbreviationAsWordInName">
         <property name="allowedAbbreviationLength" value="4" />
      </module>
      <module name="CatchParameterName" />
      <module name="LocalFinalVariableName">
         <property name="format" value="^[a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="LocalVariableName">
         <property name="format" value="^[a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="MemberName">
         <metadata name="net.sf.eclipsecs.core.comment" value="Non-Private Members" />
         <property name="applyToPrivate" value="false" />
         <property name="format" value="^[a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="StaticVariableName">
         <metadata name="net.sf.eclipsecs.core.comment" value="Non-Private Fields" />
         <property name="applyToPrivate" value="false" />
         <property name="format" value="^[a-z][_a-zA-Z0-9]*$" />
      </module>
      <module name="SuppressWithNearbyCommentFilter">
         <metadata name="net.sf.eclipsecs.core.comment" value="Disable Checkstyle for the following line" />
         <property name="commentFormat" value="CHECKSTYLE:IGNORE ([^ ]+) FOR NEXT LINE" />
         <property name="checkFormat" value="$1" />
         <property name="influenceFormat" value="1" />
      </module>
      <module name="SuppressWithNearbyCommentFilter">
         <metadata name="net.sf.eclipsecs.core.comment" value="Disable Checkstyle for the following N lines" />
         <property name="commentFormat" value="CHECKSTYLE:IGNORE ([^ ]+) FOR NEXT (\d+) LINES" />
         <property name="checkFormat" value="$1" />
         <property name="influenceFormat" value="$2" />
      </module>
      <module name="SuppressWithNearbyCommentFilter">
         <metadata name="net.sf.eclipsecs.core.comment" value="Disable Checkstyle for same line" />
         <property name="commentFormat" value="CHECKSTYLE:IGNORE ([^ ]+)" />
         <property name="checkFormat" value="$1" />
      </module>
      <module name="ConstantName">
         <metadata name="net.sf.eclipsecs.core.comment" value="Private constants" />
         <property name="applyToPublic" value="false" />
         <property name="applyToProtected" value="false" />
         <property name="applyToPackage" value="false" />
         <property name="format" value="^[_A-Z][A-Z0-9]*(_[A-Z0-9]+)*$" />
      </module>
      <module name="AvoidStarImport">
         <property name="allowStaticMemberImports" value="true" />
      </module>
      <module name="IllegalImport" />
      <module name="RedundantImport" />
      <module name="UnusedImports" />
      <module name="ImportOrder">
         <property name="option" value="top" />
         <property name="groups" value="/^java\./,javax,org,com" />
         <property name="separated" value="true" />
         <property name="sortStaticImportsAlphabetically" value="true" />
         <property name="useContainerOrderingForStatic" value="true" />
         <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit" />
      </module>
      <module name="LineLength">
         <property name="max" value="160" />
      </module>
      <module name="GenericWhitespace" />
      <module name="EmptyForInitializerPad" />
      <module name="EmptyForIteratorPad" />
      <module name="NoWhitespaceAfter">
         <property name="severity" value="ignore" />
         <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit" />
      </module>
      <module name="NoWhitespaceBefore" />
      <module name="OperatorWrap">
         <property name="tokens"
            value="QUESTION,COLON,EQUAL,NOT_EQUAL,DIV,PLUS,MINUS,STAR,MOD,SR,BSR,GE,GT,SL,LE,LT,BXOR,BOR,LOR,BAND,LAND,LITERAL_INSTANCEOF,TYPE_EXTENSION_AND" />
      </module>
      <module name="MethodParamPad" />
      <module name="ParenPad">
         <metadata name="net.sf.eclipsecs.core.comment" value="TODO" />
         <property name="severity" value="ignore" />
         <metadata name="net.sf.eclipsecs.core.lastEnabledSeverity" value="inherit" />
      </module>
      <module name="TypecastParenPad" />
      <module name="WhitespaceAfter" />
      <module name="WhitespaceAround">
         <property name="tokens"
            value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,DO_WHILE,EQUAL,GE,GT,LAMBDA,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,TYPE_EXTENSION_AND" />
         <property name="allowEmptyConstructors" value="true" />
         <property name="allowEmptyMethods" value="true" />
         <property name="allowEmptyTypes" value="true" />
         <property name="allowEmptyCatches" value="true" />
      </module>
      <module name="EmptyLineSeparator">
         <property name="tokens" value="IMPORT,CLASS_DEF,ENUM_DEF,INTERFACE_DEF,CTOR_DEF,METHOD_DEF,STATIC_INIT,INSTANCE_INIT" />
      </module>
      <module name="SeparatorWrap">
         <metadata name="net.sf.eclipsecs.core.comment" value="Dot on new line" />
         <property name="option" value="nl" />
         <property name="tokens" value="DOT" />
      </module>
      <module name="SingleSpaceSeparator" />
      <module name="SeparatorWrap">
         <metadata name="net.sf.eclipsecs.core.comment" value="Comma on end of line" />
         <property name="tokens" value="COMMA" />
      </module>
      <module name="ModifierOrder" />
      <module name="RedundantModifier" />
      <module name="EmptyBlock">
         <property name="option" value="text" />
      </module>
      <module name="EmptyCatchBlock" />
      <module name="LeftCurly" />
      <module name="RightCurly" />
      <module name="CovariantEquals" />
      <module name="DefaultComesLast" />
      <module name="EmptyStatement" />
      <module name="OneStatementPerLine" />
      <module name="UnnecessaryParentheses" />
      <module name="StringLiteralEquality" />
      <module name="SimplifyBooleanReturn" />
      <module name="SimplifyBooleanExpression" />
      <module name="FinalLocalVariable">
         <property name="tokens" value="PARAMETER_DEF,VARIABLE_DEF" />
         <property name="validateEnhancedForLoopVariable" value="true" />
      </module>
      <module name="FallThrough" />
      <module name="EqualsHashCode" />
      <module name="IllegalInstantiation" />
      <module name="NoFinalizer" />
      <module name="PackageDeclaration" />
      <module name="FinalClass" />
      <module name="HideUtilityClassConstructor" />
      <module name="MutableException" />
      <module name="OneTopLevelClass" />
      <module name="ArrayTypeStyle" />
      <module name="Indentation">
         <property name="arrayInitIndent" value="3" />
         <property name="basicOffset" value="3" />
         <property name="caseIndent" value="3" />
         <property name="lineWrappingIndentation" value="3" />
         <property name="throwsIndent" value="3" />
      </module>
      <module name="CommentsIndentation" />
      <module name="UpperEll" />
      <module name="OuterTypeFilename" />
      <module name="AvoidEscapedUnicodeCharacters">
         <property name="allowEscapesForControlCharacters" value="true" />
         <property name="allowNonPrintableEscapes" value="true" />
      </module>
      <module name="JavadocTagContinuationIndentation">
         <property name="offset" value="3" />
      </module>
      <module name="ParameterNumber">
         <property name="ignoreOverriddenMethods" value="true" />
      </module>
      <module name="SuppressWithNearbyCommentFilter">
         <metadata name="net.sf.eclipsecs.core.comment" value="Disable switch fallthrough warning for next line" />
         <property name="commentFormat" value="\$FALL-THROUGH\$" />
         <property name="checkFormat" value="FallThrough" />
         <property name="influenceFormat" value="1" />
      </module>
   </module>
   <module name="FileTabCharacter" />
   <module name="NewlineAtEndOfFile">
      <property name="lineSeparator" value="lf_cr_crlf" />
   </module>
   <module name="Translation" />
   <module name="UniqueProperties" />
   <module name="RegexpSingleline">
      <metadata name="net.sf.eclipsecs.core.comment" value="No trailing white spaces" />
      <property name="format" value="\s*[^*]\s$" />
      <property name="message" value="Line has trailing white spaces." />
   </module>
   <module name="BeforeExecutionExclusionFileFilter">
      <metadata name="net.sf.eclipsecs.core.comment" value="Ignore temp files generated by Eclipse markdown editor" />
      <property name="fileNamePattern" value="\.md\.html$" />
   </module>
   <module name="BeforeExecutionExclusionFileFilter">
      <metadata name="net.sf.eclipsecs.core.comment" value="Ignore certificate files" />
      <property name="fileNamePattern" value="\.(pem|pfx|cer|crt)$" />
   </module>
   <module name="BeforeExecutionExclusionFileFilter">
      <metadata name="net.sf.eclipsecs.core.comment" value="Ignore image files" />
      <property name="fileNamePattern" value="\.(png|jpg|gif)$" />
   </module>
   <module name="BeforeExecutionExclusionFileFilter">
      <metadata name="net.sf.eclipsecs.core.comment" value="Ignore node.js module cache directories" />
      <property name="fileNamePattern" value="[\\/]node_modules[\\/].*$" />
   </module>
   <module name="BeforeExecutionExclusionFileFilter">
      <metadata name="net.sf.eclipsecs.core.comment" value="Ignore auto-generated source files" />
      <property name="fileNamePattern" value="[\\/]generated-sources[\\/].*$" />
   </module>
</module>
