<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!-- See http://checkstyle.sourceforge.net/availablechecks.html -->
<module name="Checker">

    <!-- max默认为2000 -->
    <module name="FileLength"/>

    <!-- eachLine默认为false -->
    <module name="FileTabCharacter"/>

    <!-- 末尾有空格 -->
    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <!-- 'for', 'if', 'catch'和'switch'后面必须有空格 -->
    <module name="RegexpSingleline">
        <!--<property name="format" value="^\s*(for|if)\b[^ ]"/>-->
        <property name="format" value="^\s*(for|if|switch|catch)[^ ]\("/>
        <property name="message" value="Space needed before opening parenthesis."/>
    </module>

    <!--:的前后必须有空格 -->
    <module name="RegexpSingleline">
        <property name="format" value="^\s*for \(.*?([^ ]:|:[^ ])"/>
        <property name="message" value="Space needed around ':' character."/>
    </module>

    <module name="TreeWalker">
        <property name="cacheFile" value="${checkstyle.cache.file}"/>

        <module name="JavadocStyle">
            <property name="checkFirstSentence" value="false"/>
        </module>

        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="true"/>
        </module>
        <module name="LineLength">
            <property name="max" value="300"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="300"/>
        </module>
        <!-- max default 7 -->
        <module name="ParameterNumber">
            <!-- ClientInfo有8个参数 -->
            <property name="max" value="8"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="EmptyForIteratorPad">
            <property name="option" value="space"/>
        </module>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="NeedBraces"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="ignoreEnhancedForColon" value="false"/>
            <property name="tokens" value="
                ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN,
                BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LE,
                LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE,
                LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN,
                LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE,
                LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL,
                PLUS, PLUS_ASSIGN, QUESTION, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN,
                STAR, STAR_ASSIGN, TYPE_EXTENSION_AND"/>
        </module>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <!--<module name="AvoidNestedBlocks"/>-->
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="CovariantEquals"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="DefaultComesLast"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="StringLiteralEquality"/>
        <module name="FinalClass"/>
        <module name="MutableException"/>
        <module name="ArrayTypeStyle"/>
        <module name="UpperEll"/>
    </module>
</module>