<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <property name="tabWidth" value="1"/>
        <module name="AnonInnerLength">
            <property name="severity" value="warning"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="severity" value="warning"/>
        </module>
        <module name="ConstantName">
            <property name="severity" value="info"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="severity" value="warning"/>
        </module>
        <module name="DefaultComesLast">
            <property name="severity" value="warning"/>
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="info"/>
        </module>
        <module name="EqualsAvoidNull">
            <property name="severity" value="warning"/>
            <property name="ignoreEqualsIgnoreCase" value="false"/>
        </module>
        <module name="EqualsHashCode">
            <property name="severity" value="warning"/>
        </module>
        <module name="FinalClass">
            <property name="severity" value="warning"/>
        </module>
        <module name="HiddenField">
            <property name="severity" value="warning"/>
        </module>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="warning"/>
        </module>
        <module name="IllegalThrows">
            <property name="severity" value="warning"/>
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="warning"/>
        </module>
        <module name="InnerTypeLast">
            <property name="severity" value="warning"/>
        </module>
        <module name="LocalFinalVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="MagicNumber">
            <property name="severity" value="info"/>
            <property name="ignoreHashCodeMethod" value="true"/>
            <property name="ignoreAnnotation" value="true"/>
        </module>
        <module name="MemberName">
            <property name="severity" value="warning"/>
        </module>
        <module name="MethodName">
            <property name="severity" value="warning"/>
        </module>
        <module name="ModifierOrder">
            <property name="severity" value="info"/>
        </module>
        <module name="PackageName">
            <property name="severity" value="warning"/>
        </module>
        <module name="ParameterAssignment">
            <property name="severity" value="warning"/>
        </module>
        <module name="ParameterName">
            <property name="severity" value="warning"/>
        </module>
        <module name="RedundantModifier">
            <property name="severity" value="info"/>
        </module>
        <module name="RedundantThrows">
            <property name="severity" value="info"/>
        </module>
        <module name="SimplifyBooleanExpression">
            <property name="severity" value="warning"/>
        </module>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="warning"/>
        </module>
        <module name="StaticVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="warning"/>
        </module>
        <module name="UnusedImports">
            <property name="severity" value="info"/>
            <property name="processJavadoc" value="false"/>
        </module>
        <module name="VisibilityModifier">
            <property name="severity" value="warning"/>
        </module>
    </module>
</module>

