<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
	<module name="TreeWalker">

		<module name="IllegalImport">
			<property name="illegalPkgs" value="java.lang.reflect, java.net, javax"/>
		</module>

		<module name="RegexpSinglelineJava">
		    <!-- . matches any character, so we need to
		    escape it and use \. to match dots. -->
		    <property name="format" value="System\.in"/>
		    <property name="ignoreComments" value="true"/>
		    <property name="message" value="Reading form Standard input (System.in) should be avoided..!"/>
		    
		</module>

		<module name="RegexpSinglelineJava">
		    <!-- . matches any character, so we need to
		    escape it and use \. to match dots. -->
		    <property name="format" value="java\.lang\.reflect"/>
		    <property name="ignoreComments" value="true"/>
		    <property name="message" value="Using of reflection is prohibited..!"/>
		    
		</module>

		<module name="RedundantImport"/>

		<module name="EmptyBlock"/>
	</module> <!-- End of TreeWalker -->

	<module name="FileTabCharacter">
    	<property name="eachLine" value="false"/>
	</module>
</module>