<?xml version="1.0" ?>
<!--

           File: $Header: //depot/main/event-manager/src/main/config/checkstyle.xml#2 $
 Last edited by: $Author: moha $ $Date: 2007/04/17 $
   Version     : $Revision: #2 $
 -->
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         JavaDoc
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
  <!-- package.html files -->
  <!-- <module name="PackageHtml"/> -->
  
  <module name="TreeWalker">
    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Whitespace
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- We want 2 spaces indent and TAB characters -->
    <property name="tabWidth" value="2"/>
    <module name="TabCharacter"/>
    <module name="ParenPad"/>

    <module name="LineLength">
      <property name="ignorePattern" value="\$Header|@see"/>
    </module>

    <!-- assures commas, semicolons and typecasets have a space after -->
    <module name="WhitespaceAfter"/>
    <!-- whitespace around all operators -->
    <module name="WhitespaceAround">
      <property name="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR"
      />
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
    </module>


    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Various
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- We want 2 spaces indent and TAB characters -->
    <module name="TodoComment">
      <property name="format" value="WARNING"/>
    </module>
    
    <module name="TrailingComment"/>

    <!-- Catching Throwable or RuntimeExcecption is normally a bad
         idea -->
    <module name="IllegalCatch"/>

    <module name="RedundantImport"/>
    
    <module name="SimplifyBooleanReturn"/>

    <!-- avoid myString == otherString -->
    <module name="StringLiteralEquality"/>
    
    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Package
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- Package rules, name, decleration -->
    <module name="PackageName">
      <property name="format"
         value="com\.smartitengineering\.xml2props(\.[a-z][a-zA-Z0-9]+)*$"/>
    </module>
    
    <module name="PackageDeclaration"/>
    
    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Variable names
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- We want mName (member variable) and pName (parameter variable )-->
    <module name="MemberName">
      <property name="format" value="^m[A-Z][a-zA-Z0-9]*$"/>
    </module>
    <module name="ParameterName">
      <property name="format" value="^p[A-Z][a-zA-Z0-9]*$"/>
    </module>

    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Unit tests
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- JUnit properly named methods -->
    <module name="JUnitTestCase"/>

    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Strings
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- Don't definie multiple Strings with the same value-->
    <module name="MultipleStringLiterals"/>
    <!--Use String#equals(String) -->
    <module name="StringLiteralEquality"/>

    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         Braces
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <!-- Alwasy braces around code blocks-->
    <module name="NeedBraces"/>
    <module name="LeftCurly"/>
    
    <!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
         JavaDoc
         _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
    <module name="JavadocType"/>
  </module>
</module>
