<?xml version="1.0" encoding="UTF-8"?>
 	<!--
 	        This configuration file was written by the eclipse-cs plugin configuration editor
 	-->
 	<!--
 	Checkstyle-Configuration: Coding Rules
 	Description:
 	
 	-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <!--<module name="PackageHtml"/>-->
    <module name="TreeWalker">
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="IllegalImport"/>
        <module name="AvoidStarImport"/>
	

        <module name="DoubleCheckedLocking"/>
        <module name="EqualsHashCode"/>
	<module name="IllegalInstantiation"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="IllegalThrows"/>
        <module name="PackageDeclaration"/>
        <module name="DefaultComesLast"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="UnnecessaryParentheses"/>
        
        <module name="EmptyBlock"/>
        
        <!--<module name="StrictDuplicateCode"/>-->

	
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="ConstantName"/>
        <module name="AbstractClassName"/>



        <module name="Header">
            <property name="headerFile" value="java.header"/>
<!--    <property name="ignoreLines" value="2, 3, 4"/>-->
        </module>
    </module>
</module>
