<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<property name="charset" value="UTF-8"/>

	<property name="fileExtensions" value="java, properties, xml"/>
	<module name="TreeWalker">
		<property name="cacheFile" value="${checkstyle.cache.file}"/>
		<property name="tabWidth " value="4"/>
		<module name="AvoidStarImport"/>
		<module name="AnonInnerLength">
			<property name="max" value="60"/>
		</module>
		<module name="AnnotationLocation">
			<property name="allowSamelineMultipleAnnotations" value="true"/>
			<property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
			<property name="allowSamelineParameterizedAnnotation" value="false"/>
		</module>
		<module name="ClassTypeParameterName">
			<property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
		</module>
		<module name="CustomImportOrder">
			<property name="sortImportsInGroupAlphabetically" value="true"/>
			<property name="separateLineBetweenGroups" value="false"/>
		</module>
		<module name="CovariantEquals"/>
		<module name="DeclarationOrder"/>
		<module name="DefaultComesLast"/>
		<module name="EmptyStatement"/>
		<module name="EqualsHashCode"/>
		<module name="GenericWhitespace"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="IllegalInstantiation"/>
		<module name="IllegalImport"/>
		<module name="IllegalTokenText">
			<property name="tokens" value="STRING_LITERAL, CHAR_LITERAL"/>
			<property name="format" value="\\u00(09|0(a|A)|0(c|C)|0(d|D)|22|27|5(C|c))|\\(0(10|11|12|14|15|42|47)|134)"/>
			<property name="message" value="Consider using special escape sequence instead of octal value or Unicode escaped value."/>
		</module>
		<module name="InnerAssignment"/>
		<module name="InterfaceTypeParameterName">
			<property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
		</module>
		<module name="InnerTypeLast"/>
		<module name="LineLength">
			<property name="max" value="160"/>
			<property name="severity" value="error"/>
			<property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://|^\t*public static final"/>
		</module>
		<module name="LineLength">
			<property name="max" value="120"/>
			<property name="severity" value="warning"/>
			<property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://|^\t*public static final"/>
		</module>
		<module name="LocalVariableName">
			<property name="tokens" value="VARIABLE_DEF"/>
			<property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
		</module>
		<module name="MemberName">
			<property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
		</module>
		<module name="MethodTypeParameterName">
			<property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
		</module>
		<module name="ModifiedControlVariable">
			<property name="skipEnhancedForLoopVariable" value="true"/>
		</module>
		<module name="ModifierOrder"/>
		<module name="MissingSwitchDefault"/>
		<module name="OneStatementPerLine"/>
		<module name="OneTopLevelClass"/>
		<module name="OuterTypeFilename"/>
		<module name="OverloadMethodsDeclarationOrder"/>
		<module name="PackageAnnotation"/>
		<module name="PackageDeclaration"/>
		<module name="ParameterName">
			<property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
		</module>
		<module name="RedundantImport"/>
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* +\t*\S"/>
			<property name="message" value="Line has leading space characters; indentation should be performed with tabs only."/>
			<property name="ignoreComments" value="true"/>
		</module>
		<module name="ReturnCount">
			<property name="max" value="0"/>
			<property name="tokens" value="CTOR_DEF"/>
		</module>
		<module name="ReturnCount">
			<property name="max" value="2"/>
			<property name="tokens" value="LAMBDA"/>
		</module>
		<module name="SimplifyBooleanExpression"/>
		<module name="StringLiteralEquality"/>
		<module name="SuperFinalize"/>
		<module name="TypecastParenPad"/>
		<module name="UnusedImports">
			<property name="processJavadoc" value="true"/>
		</module>

		<!--
		<module name="JavadocMethod">
			<property name="severity" value="warning"/>
			<property name="scope" value="public"/>
			<property name="allowMissingParamTags" value="true"/>
			<property name="allowMissingThrowsTags" value="true"/>
			<property name="allowMissingReturnTag" value="true"/>
			<property name="allowThrowsTagsForSubclasses" value="true"/>
		</module>
		<module name="JavadocType"/>
		<module name="JavadocVariable"/>
		<module name="JavadocStyle"/>
		-->
	</module>
	<module name="Header">
		<property name="headerFile" value="src/main/licence/java.txt"/>
		<property name="ignoreLines" value="4"/>
		<property name="fileExtensions" value="java"/>
	</module>
	<module name="NewlineAtEndOfFile">
		<property name="fileExtensions" value="java, xml, properties"/>
		<property name="lineSeparator" value="lf"/>
	</module>
	<module name="RegexpSingleline">
		<property name="format" value="\s+$"/>
		<property name="message" value="White spaces at the end of line"/>
	</module>
</module>
