<?xml version="1.0"?><!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd"><!-- See the Sun Code Conventions at http://java.sun.com/docs/codeconv/ -->
<module name="Checker">
    <!-- Checks for Headers                                --><!-- See http://checkstyle.sf.net/config_header.html   -->
    <module name="FileLength">
        <property name="max" value="30000"/>
    </module>
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>
    <!-- See http://checkstyle.sourceforge.net/config.html#SuppressionCommentFilter -->
    <module name="SuppressionCommentFilter"/>
    <module name="TreeWalker">
        <!-- Ensure 4 spaces per indentation level -->
        <!--<module name="Indentation"/>-->
        <!-- Required for the SuppressionCommentFilter module -->
        <module name="FileContentsHolder"/>
        <!-- Checks for Javadoc comments.                     --><!-- See http://checkstyle.sf.net/config_javadoc.html -->
        <module name="JavadocMethod">
            <property name="scope" value="package"/>
            <property name="allowMissingPropertyJavadoc" value="true"/>
        </module>
        <module name="JavadocType"/>
        <module name="JavadocVariable">
            <property name="scope" value="package"/>
        </module>
        <module name="JavadocStyle">
            <property name="checkFirstSentence" value="false"/>
            <property name="severity" value="warning"/>
        </module>
        <!-- Checks for Naming Conventions.                  --><!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <!-- Checks for imports                              --><!-- See http://checkstyle.sf.net/config_import.html --><!-- removed: <module name="AvoidStarImport"/> -->
        <module name="IllegalImport"/>
        <!-- defaults to sun.* packages -->
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <!-- Checks for Size Violations.                    --><!-- See http://checkstyle.sf.net/config_sizes.html -->
        <module name="LineLength">
            <property name="max" value="120"/>
            <!-- Changed to 120 - IntelliJ default -->
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <!-- Checks for whitespace                               --><!-- See http://checkstyle.sf.net/config_whitespace.html -->
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="GenericWhitespace"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND"/>
            <!-- All (the default) except removing the check for whitespace around generic declarations -->
        </module>
        <!-- Modifier Checks                                    --><!-- See http://checkstyle.sf.net/config_modifiers.html -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <!-- Checks for blocks. You know, those {}'s         --><!-- See http://checkstyle.sf.net/config_blocks.html -->
        <module name="AvoidNestedBlocks"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <!-- Checks for common coding problems               --><!-- See http://checkstyle.sf.net/config_coding.html --><!-- The following module has been removed from checkstyle 5.6           --><!-- see http://checkstyle.sourceforge.net/releasenotes.html for details --><!-- <module name="DoubleCheckedLocking"/>                             -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <!--<module name="MagicNumber">-->
            <!--<property name="severity" value="warning"/>-->
            <!--<property name="ignoreAnnotation" value="true"/>-->
        <!--</module>-->
        <module name="MissingSwitchDefault"/>
        <!-- This causes Unable to get class information in checkstyle-idea plugin for BusinessException --><!--<module name="RedundantThrows"/>-->
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="warning"/>
        </module>
        <!-- Checks for class design                         --><!-- See http://checkstyle.sf.net/config_design.html -->
        <module name="FinalClass"/>
        <!--<module name="HideUtilityClassConstructor"/>-->
        <module name="VisibilityModifier"/>
        <!-- Miscellaneous other checks.                   --><!-- See http://checkstyle.sf.net/config_misc.html -->
        <module name="ArrayTypeStyle"/>
        <!-- Trailing spaces -->
        <module name="Regexp">
            <property name="format" value="[ \t]+$"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="Line has trailing spaces."/>
        </module>
        <!-- Long constants must use upper L -->
        <module name="UpperEll"/>
        <!-- Printing directly to console -->
        <module name="Regexp">
            <property name="format" value="System\.out\.print"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="Printing to standard out forbidden - use proper logging."/>
        </module>
        <module name="Regexp">
            <property name="format" value="System\.err\.print"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="Printing to standard error forbidden - use proper logging."/>
        </module>
        <!-- Auto-generated comments -->
        <module name="Regexp">
            <property name="format" value="\* Created by IntelliJ IDEA."/>
            <property name="illegalPattern" value="true"/>
        </module>
        <!-- Throwing and catching of Exception, Throwable, Error or RuntimeException - --><!-- code should throw more specific exceptions, and these errors are too       --><!-- low-level/generic for most code to catch and deal with sensibly            -->
        <module name="IllegalThrows">
            <property name="illegalClassNames" value="java.lang.Exception, java.lang.Throwable, java.lang.Error, java.lang.RuntimeException"/>
        </module>
        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Throwable, java.lang.Error"/>
        </module>
        <!-- may catch these under some circumstances -->
        <!--<module name="IllegalCatch">-->
            <!--<property name="illegalClassNames" value="java.lang.Exception, java.lang.RuntimeException"/>-->
            <!--<property name="severity" value="warning"/>-->
        <!--</module>-->
        <!-- Cyclomatic complexity - default = 10 -->
        <module name="CyclomaticComplexity"/>
    </module>
</module>