<!DOCTYPE module PUBLIC
"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="PackageHtml">
  </module>
  <module name="TreeWalker">  
	<property name="tabWidth" value="4"/>
	<module name="ModifierOrder"/>
	<module name="RedundantModifier"/>
	<module name="CovariantEquals"/>
	<module name="EqualsHashCode"/>
    <module name="ConstantName">
      <property name="format" value="^(log[a-z]*|instance|[A-Z][A-Z0-9]*(_[A-Z0-9]+)*)$"/>
    </module>
    <module name="EmptyBlock"/>
    <module name="JavadocType">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocMethod">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocVariable">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocStyle">
      <property name="scope" value="public"/>
    </module>
  </module>
</module>
