<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2009 i>clicker (R) <http://www.iclicker.com/dnn/>

    This file is part of i>clicker Sakai integrate.

    i>clicker Sakai integrate is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    i>clicker Sakai integrate is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with i>clicker Sakai integrate.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="SuppressWarningsFilter"/>
    <module name="FileLength">
        <property name="severity" value="error"/>
        <property name="max" value="2500"/>
    </module>
    <module name="FileTabCharacter">
        <property name="severity" value="error"/>
    </module>
    <module name="NewlineAtEndOfFile">
        <property name="severity" value="error"/>
        <property name="lineSeparator" value="lf" />
    </module>
    <module name="RegexpSingleline">
        <property name="severity" value="error"/>
        <property name="message" value="Line has trailing spaces."/>
        <property name="minimum" value="0"/>
        <property name="maximum" value="0"/>
        <property name="format" value="(?&lt;!\*)\s+$|\*\s\s+$"/>
        <property name="ignoreCase" value="true"/>
    </module>
    <module name="Translation">
        <property name="severity" value="info"/>
    </module>
    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="SuppressWarningsHolder"/>

        <module name="AnonInnerLength">
            <property name="severity" value="info"/>
            <property name="max" value="20"/>
        </module>
        <module name="ArrayTypeStyle">
            <property name="severity" value="error"/>
            <property name="javaStyle" value="true"/>
        </module>
        <module name="AvoidNestedBlocks">
            <property name="severity" value="error"/>
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="AvoidStarImport">
            <property name="severity" value="error"/>
            <property name="allowClassImports" value="false"/>
            <property name="allowStaticMemberImports" value="true"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="severity" value="error"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="severity" value="info"/>
        </module>
        <module name="ClassTypeParameterName">
            <property name="severity" value="error"/>
            <property name="format" value="^[A-Z_]*$"/>
        </module>
        <module name="ConstantName">
            <property name="severity" value="error"/>
            <property name="applyToPublic" value="true"/>
            <property name="applyToProtected" value="true"/>
            <property name="applyToPackage" value="false"/>
            <property name="applyToPrivate" value="false"/>
        </module>
        <module name="CovariantEquals">
            <property name="severity" value="error"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="severity" value="info"/>
            <!-- really, anything over 10 or 12 is a problem, but anything over 20 is really bad.
            Unfortunately, we have a quite a few in the 10-20 range.  The 20+ will need to b
            suppressed via @SuppressWarnings. -->
            <property name="max" value="20"/>
        </module>
        <module name="DefaultComesLast">
            <property name="severity" value="error"/>
        </module>
        <module name="EmptyBlock">
            <property name="severity" value="error"/>
        </module>
        <module name="EmptyForIteratorPad">
            <property name="severity" value="error"/>
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="error"/>
        </module>
        <module name="EqualsAvoidNull">
            <property name="severity" value="error"/>
            <property name="ignoreEqualsIgnoreCase" value="false"/>
        </module>
        <module name="EqualsHashCode">
            <property name="severity" value="error"/>
        </module>
        <module name="FallThrough">
            <property name="severity" value="error"/>
        </module>
        <module name="FinalClass">
            <property name="severity" value="error"/>
        </module>
        <module name="GenericWhitespace">
            <property name="severity" value="error"/>
        </module>
        <module name="HiddenField">
            <property name="severity" value="info"/>
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="error"/>
        </module>
        <module name="IllegalImport">
            <property name="severity" value="error"/>
        </module>
        <module name="IllegalInstantiation">
            <property name="severity" value="error"/>
        </module>
        <module name="Indentation">
            <property name="severity" value="error"/>
            <property name="caseIndent" value="4"/>
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="throwsIndent" value="8"/>
            <property name="lineWrappingIndentation" value="0"/>
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="error"/>
        </module>
        <module name="InterfaceIsType">
            <property name="severity" value="error"/>
            <property name="allowMarkerInterfaces" value="true"/>
        </module>
        <module name="JavadocMethod">
            <property name="severity" value="info"/>
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocStyle">
            <property name="severity" value="info"/>
        </module>
        <module name="LeftCurly">
            <property name="severity" value="info"/>
            <property name="maxLineLength" value="120"/>
            <property name="option" value="eol"/>
        </module>
        <module name="LineLength">
            <property name="severity" value="info"/>
            <property name="max" value="120"/>
        </module>
        <module name="LocalFinalVariableName">
            <property name="severity" value="error"/>
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="info"/>
        </module>
        <module name="MagicNumber">
            <property name="severity" value="info"/>
            <property name="ignoreHashCodeMethod" value="true"/>
            <property name="ignoreAnnotation" value="true"/>
        </module>
        <module name="MemberName">
            <property name="severity" value="error"/>
        </module>
        <module name="MethodCount">
            <property name="severity" value="error"/>
            <property name="maxTotal" value="200"/>
            <property name="maxPrivate" value="200"/>
            <property name="maxPackage" value="200"/>
            <property name="maxProtected" value="200"/>
            <property name="maxPublic" value="200"/>
        </module>
        <module name="MethodLength">
            <property name="severity" value="info"/>
        </module>
        <module name="MethodName">
            <property name="severity" value="error"/>
        </module>
        <module name="MethodParamPad">
            <property name="severity" value="error"/>
        </module>
        <module name="MissingSwitchDefault">
            <property name="severity" value="error"/>
        </module>
        <module name="ModifiedControlVariable">
            <property name="severity" value="error"/>
        </module>
        <module name="ModifierOrder">
            <property name="severity" value="error"/>
        </module>
        <module name="MultipleVariableDeclarations">
            <property name="severity" value="error"/>
        </module>
        <module name="NeedBraces">
            <property name="severity" value="error"/>
        </module>
        <module name="NestedForDepth">
            <property name="severity" value="error"/>
            <property name="max" value="3"/>
        </module>
        <module name="NestedIfDepth">
            <property name="severity" value="info"/>
            <property name="max" value="3"/>
        </module>
        <module name="NestedTryDepth">
            <property name="severity" value="error"/>
            <property name="max" value="2"/>
        </module>
        <module name="NoFinalizer">
            <property name="severity" value="error"/>
        </module>
        <module name="NoWhitespaceAfter">
            <property name="severity" value="error"/>
            <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS,ARRAY_DECLARATOR"/>
        </module>
        <module name="NoWhitespaceBefore">
            <property name="severity" value="error"/>
        </module>
        <module name="OneStatementPerLine">
            <property name="severity" value="error"/>
        </module>
        <module name="OperatorWrap">
            <property name="severity" value="error"/>
            <property name="option" value="eol"/>
        </module>
        <module name="OuterTypeFilename">
            <property name="severity" value="error"/>
        </module>
        <module name="OuterTypeNumber">
            <property name="severity" value="error"/>
            <property name="max" value="1"/>
        </module>
        <module name="PackageDeclaration">
            <property name="severity" value="error"/>
        </module>
        <module name="PackageName">
            <property name="severity" value="error"/>
        </module>
        <module name="ParameterName">
            <property name="severity" value="error"/>
        </module>
        <module name="ParameterNumber">
            <property name="severity" value="error"/>
        </module>
        <module name="ParenPad">
            <property name="severity" value="error"/>
        </module>
        <module name="RedundantImport">
            <property name="severity" value="error"/>
        </module>
        <module name="RedundantModifier">
            <property name="severity" value="error"/>
        </module>
        <module name="RightCurly">
            <property name="severity" value="error"/>
        </module>
        <module name="SimplifyBooleanExpression">
            <property name="severity" value="error"/>
        </module>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="error"/>
        </module>
        <module name="StaticVariableName">
            <property name="severity" value="error"/>
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="error"/>
        </module>
        <module name="SuperClone">
            <property name="severity" value="error"/>
        </module>
        <module name="SuperFinalize">
            <property name="severity" value="error"/>
        </module>
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>
        <module name="TypeName">
            <property name="severity" value="error"/>
        </module>
        <module name="TypecastParenPad">
            <property name="severity" value="error"/>
        </module>
        <module name="UnusedImports">
            <property name="severity" value="error"/>
            <property name="processJavadoc" value="false"/>
        </module>
        <module name="UpperEll">
            <property name="severity" value="error"/>
        </module>
        <module name="WhitespaceAfter">
            <property name="severity" value="error"/>
        </module>
        <module name="WhitespaceAround">
            <property name="severity" value="error"/>
        </module>
    </module>
</module>

