<?xml version="1.0" encoding="UTF-8"?>
<!--
	This is the checkstyle configuration file to be used by RCIG
-->

<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker"> 
    
	<!-- Start Java Doc Comments -->
	
        <module name="JavadocMethod"/>           
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>            
        <module name="JavadocStyle"/>
        
        <!-- End Java Doc Comments -->
        
        <!-- Start Naming Conventions -->
        
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        
        <!-- End Naming Conventions -->
        
        <!-- Start Imports -->
        
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="ImportOrder"/>  
        
        <!-- End Imports -->
        
        <!-- Start Size Violations -->
        
        <module name="FileLength"/>
        <module name="MethodLength"/>
        <module name="LineLength">
	      <property name="max" value="132"/>
	</module>
        <module name="ParameterNumber">
            <property name="max" value="8"/>
        </module>
        
        <!-- End Size Violations -->
        
        <!-- Start WhiteSpace Checks -->
        
        <module name="TabCharacter"/>
        
        
        <!-- End WhiteSpace Checks -->
        
        <!-- Start Modifier Checks -->  
        
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        
        <!-- End Modifier Checks -->
        
        <!-- Start Block Checks -->  
        
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        
        <!-- End Block Checks -->  
        
        <!-- Start Coding Style Checks -->  
        
        <module name="DeclarationOrder"/>
        <module name="AvoidInlineConditionals"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField"/>            
        <module name="IllegalInstantiation"/>        
        <module name="MagicNumber"/>            
        <module name="MissingSwitchDefault"/>
        <module name="RedundantThrows"/>                  
        <module name="SimplifyBooleanReturn"/>        		
		<module name="IllegalCatch"/>   
		<module name="IllegalThrows"/> 
		<module name="PackageDeclaration"/>  
		<module name="ExplicitInitialization"/>       
		<module name="StringLiteralEquality"/>  
		<module name="FallThrough"/>       
        <module name="GenericIllegalRegexp">  
        	<property name="format" value="System\.out\.println"/>
        </module>
        
        <!-- End Coding Style Checks -->  
        
        <!-- Start Class Design Checks -->  
        
        <module name="FinalClass"/>        
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>
        
        <!-- End Class Design Checks -->         
        
        
        <!-- Start Other Checks -->  
        
        <module name="TodoComment"/>
        <module name="Indentation"/>
        <module name="UpperEll"/>
        
        <!-- End Other Checks --> 
        
    </module>       
</module>
