<?xml version="1.0" encoding="UTF-8"?><!--This configuration file was written by the eclipse-cs plugin configuration editor-->

<!--
	IQser Checks:
	
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<property name="severity" value="warning" />
	<module name="TreeWalker">
		<module name="IllegalInstantiation">
			<property name="classes"
				value="java.lang.Boolean, java.lang.String" />
		</module>
		<module name="GenericIllegalRegexp">
			<property name="format"
				value="((public)|(protected))\s+void\s+finalize\(\s*\)" />
		</module>
		<module name="EqualsHashCode"></module>
		<module name="VisibilityModifier"></module>
		<module name="InterfaceIsType"></module>
		<module name="ParameterNumber">
			<property name="max" value="5" />
		</module>
		<module name="JavadocType">
			<property name="scope" value="protected" />
		</module>
		<module name="JavadocMethod">
			<property name="scope" value="protected" />
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="protected" />
		</module>
		<module name="PackageName">
			<property name="format"
				value="^[a-z]+(\.[a-z][a-z0-9]{1,7})*$" />
		</module>
		<module name="TypeName"></module>
		<module name="ConstantName"></module>
		<module name="LocalFinalVariableName"></module>
		<module name="LocalVariableName"></module>
		<module name="MemberName"></module>
		<module name="MethodName"></module>
		<module name="ParameterName"></module>
		<module name="StaticVariableName"></module>
		<module name="EmptyBlock">
			<property name="option" value="text" />
			<property name="tokens" value="LITERAL_CATCH" />
		</module>
		<module name="JavadocStyle">
			<property name="excludeScope" value="nothing" />
			<property name="checkEmptyJavadoc" value="true" />
		</module>
	</module>
	<module name="PackageHtml"></module>
</module>
