<?xml version="1.0"?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

    <!-- See http://checkstyle.sourceforge.net/config.html#SuppressionCommentFilter -->
    <module name="SuppressionCommentFilter">
        <property name="onCommentFormat" value="CHECKSTYLE\:ON"/>
        <property name="offCommentFormat" value="CHECKSTYLE\:OFF"/>
    </module>



    <!-- See http://checkstyle.sourceforge.net/config_duplicates.html#StrictDuplicateCode -->
    <module name="StrictDuplicateCode"/>


    <!-- See http://checkstyle.sourceforge.net/config_javadoc.html#JavadocPackage
    <module name="JavadocPackage"/>
     -->


    <!-- See http://checkstyle.sourceforge.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile"/>

    <!-- See http://checkstyle.sourceforge.net/config_misc.html#Translation -->
    <module name="Translation"/>

    <!-- See http://checkstyle.sourceforge.net/config_misc.html#UniqueProperties -->
    <module name="UniqueProperties">
        <property name="fileExtensions" value="properties" />
    </module>


    <!-- See http://checkstyle.sourceforge.net/config_sizes.html#FileLength -->
    <module name="FileLength">
        <property name="max" value="1500"/>
    </module>


    <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#FileTabCharacter -->
    <module name="FileTabCharacter"/>



    <module name="TreeWalker">


        <!-- Required for comment enabled suppression
			 See http://checkstyle.sourceforge.net/config.html#SuppressionCommentFilter -->
        <module name="FileContentsHolder"/>





        <!-- See http://checkstyle.sourceforge.net/config_annotation.html#MissingOverride -->
        <module name="MissingOverride"/>

        <!-- See http://checkstyle.sourceforge.net/config_annotation.html#SuppressWarnings
        <module name="SuppressWarnings"/>
        -->





        <!-- See http://checkstyle.sourceforge.net/config_blocks.html#EmptyBlock -->
        <module name="EmptyBlock"/>

        <!-- See http://checkstyle.sourceforge.net/config_blocks.html#LeftCurly -->
        <module name="LeftCurly"/>

        <!-- See http://checkstyle.sourceforge.net/config_blocks.html#NeedBraces -->
        <module name="NeedBraces"/>

        <!-- See http://checkstyle.sourceforge.net/config_blocks.html#RightCurly -->
        <module name="RightCurly"/>

        <!-- See http://checkstyle.sourceforge.net/config_blocks.html#AvoidNestedBlocks -->
        <module name="AvoidNestedBlocks"/>





        <!-- See http://checkstyle.sourceforge.net/config_design.html#VisibilityModifier -->
        <module name="VisibilityModifier"/>

        <!-- See http://checkstyle.sourceforge.net/config_design.html#FinalClass -->
        <module name="FinalClass"/>

        <!-- See http://checkstyle.sourceforge.net/config_design.html#InterfaceIsType -->
        <module name="InterfaceIsType"/>

        <!-- See http://checkstyle.sourceforge.net/config_design.html#HideUtilityClassConstructor -->
        <module name="HideUtilityClassConstructor"/>

        <!-- See http://checkstyle.sourceforge.net/config_design.html#DesignForExtension
        <module name="DesignForExtension"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_design.html#MutableException
        <module name="MutableException"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_design.html#ThrowsCount
        <module name="ThrowsCount">
            <property name="max" value="2"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_design.html#InnerTypeLast
            <module name="InnerTypeLast"/>
        -->





        <!-- See http://checkstyle.sourceforge.net/config_coding.html#ArrayTrailingComma
        <module name="ArrayTrailingComma"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#AvoidInlineConditionals
        <module name="AvoidInlineConditionals"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#CovariantEquals -->
        <module name="CovariantEquals"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#EmptyStatement -->
        <module name="EmptyStatement"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#EqualsAvoidNull -->
        <module name="EqualsAvoidNull"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#EqualsHashCode -->
        <module name="EqualsHashCode"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#FinalLocalVariable -->
        <module name="FinalLocalVariable"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#HiddenField -->
        <module name="HiddenField"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#IllegalInstantiation -->
        <module name="IllegalInstantiation"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#IllegalToken -->
        <module name="IllegalToken"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#IllegalTokenText
        <module name="IllegalTokenText">
            <property name="tokens" value="STRING_LITERAL"/>
            <property name="format" value="a href"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#InnerAssignment -->
        <module name="InnerAssignment"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#MagicNumber -->
        <module name="MagicNumber"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#MissingSwitchDefault -->
        <module name="MissingSwitchDefault"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#ModifiedControlVariable -->
        <module name="ModifiedControlVariable"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#RedundantThrows -->
        <module name="RedundantThrows"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#SimplifyBooleanExpression -->
        <module name="SimplifyBooleanExpression"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#SimplifyBooleanReturn -->
        <module name="SimplifyBooleanReturn"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#StringLiteralEquality -->
        <module name="StringLiteralEquality"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#NestedForDepth
        <module name="NestedForDepth">
            <property name="max" value="3"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#NestedIfDepth
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#NestedTryDepth
        <module name="NestedTryDepth">
            <property name="max" value="3"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#NoClone -->
        <module name="NoClone"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#NoFinalizer -->
        <module name="NoFinalizer"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#SuperClone
        <module name="SuperClone"/>
         -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#SuperFinalize
        <module name="SuperFinalize"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#IllegalCatch -->
        <module name="IllegalCatch"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#IllegalThrows -->
        <module name="IllegalThrows"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#PackageDeclaration -->
        <module name="PackageDeclaration"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#JUnitTestCase -->
        <module name="JUnitTestCase"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#ReturnCount
        <module name="ReturnCount">
            <property name="max" value="3"/>
            <property name="format" value="^$"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#IllegalType
        <module name="IllegalType">
            <property name="ignoredMethodNames" value="getInstance"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#DeclarationOrder -->
        <module name="DeclarationOrder"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#ParameterAssignment -->
        <module name="ParameterAssignment"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#ExplicitInitialization -->
        <module name="ExplicitInitialization"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#DefaultComesLast -->
        <module name="DefaultComesLast"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#MissingCtor -->
        <module name="MissingCtor"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#FallThrough -->
        <module name="FallThrough"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#MultipleStringLiterals -->
        <module name="MultipleStringLiterals"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#MultipleVariableDeclarations -->
        <module name="MultipleVariableDeclarations"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#RequireThis -->
        <module name="RequireThis"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#UnnecessaryParentheses -->
        <module name="UnnecessaryParentheses"/>

        <!-- See http://checkstyle.sourceforge.net/config_coding.html#OneStatementPerLine -->
        <module name="OneStatementPerLine"/>





        <!-- See http://checkstyle.sourceforge.net/config_imports.html#AvoidStarImport -->
        <module name="AvoidStarImport"/>

        <!-- See http://checkstyle.sourceforge.net/config_imports.html#AvoidStaticImport
        <module name="AvoidStaticImport">
            <property name="excludes" value="java.lang.System.out,java.lang.Math.*"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_imports.html#IllegalImport
        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.io, java.sql"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_imports.html#RedundantImport -->
        <module name="RedundantImport"/>

        <!-- See http://checkstyle.sourceforge.net/config_imports.html#UnusedImports -->
        <module name="UnusedImports"/>

        <!-- See http://checkstyle.sourceforge.net/config_imports.html#ImportOrder
        <module name="ImportOrder">
            <property name="groups" value="/^javax?\./,org"/>
            <property name="ordered" value="true"/>
            <property name="separated" value="true"/>
            <property name="option" value="above"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_imports.html#ImportControl
        <module name="ImportControl">
            <property name="file" value="import-control.xml"/>
        </module>
        -->





        <!-- http://checkstyle.sourceforge.net/config_javadoc.html#JavadocType -->
        <module name="JavadocType">
            <property name="scope" value="protected" />
        </module>

        <!-- http://checkstyle.sourceforge.net/config_javadoc.html#JavadocMethod -->
        <module name="JavadocMethod">
            <property name="scope" value="protected" />
        </module>

        <!-- http://checkstyle.sourceforge.net/config_javadoc.html#JavadocVariable -->
        <module name="JavadocVariable">
            <property name="scope" value="protected" />
        </module>

        <!-- http://checkstyle.sourceforge.net/config_javadoc.html#JavadocStyle -->
        <module name="JavadocStyle">
            <property name="scope" value="protected" />
        </module>





        <!-- http://checkstyle.sourceforge.net/config_metrics.html#BooleanExpressionComplexity -->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="3"/>
        </module>

        <!-- http://checkstyle.sourceforge.net/config_metrics.html#ClassDataAbstractionCoupling -->
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="7"/>
        </module>

        <!-- http://checkstyle.sourceforge.net/config_metrics.html#ClassFanOutComplexity -->
        <module name="ClassFanOutComplexity">
            <property name="max" value="15"/>
        </module>

        <!-- http://checkstyle.sourceforge.net/config_metrics.html#CyclomaticComplexity -->
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>

        <!-- http://checkstyle.sourceforge.net/config_metrics.html#NPathComplexity -->
        <module name="NPathComplexity">
            <property name="max" value="20"/>
        </module>

        <!-- http://checkstyle.sourceforge.net/config_metrics.html#JavaNCSS -->
        <module name="JavaNCSS">
            <property name="methodMaximum" value="40"/>
            <property name="classMaximum" value="1200"/>
            <property name="fileMaximum" value="1500"/>
        </module>





        <!-- See http://checkstyle.sourceforge.net/config_misc.html#TodoComment -->
        <module name="TodoComment"/>

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#UncommentedMain -->
        <module name="UncommentedMain">
            <property name="excludedClasses" value="eden\.Gate"/>
        </module>

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#UpperEll -->
        <module name="UpperEll"/>

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#ArrayTypeStyle
        <module name="ArrayTypeStyle"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#FinalParameters
        <module name="FinalParameters"/>
         -->

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#Indentation -->
        <module name="Indentation"/>

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#TrailingComment -->
        <module name="TrailingComment"/>

        <!-- See http://checkstyle.sourceforge.net/config_misc.html#OuterTypeFilename -->
        <module name="OuterTypeFilename"/>





        <!-- See http://checkstyle.sourceforge.net/config_modifier.html#ModifierOrder -->
        <module name="ModifierOrder"/>

        <!-- See http://checkstyle.sourceforge.net/config_modifier.html#RedundantModifier -->
        <module name="RedundantModifier"/>





        <!-- See http://checkstyle.sourceforge.net/config_naming.html#AbstractClassName -->
        <module name="AbstractClassName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#ConstantName -->
        <module name="ConstantName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#LocalFinalVariableName -->
        <module name="LocalFinalVariableName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#LocalVariableName -->
        <module name="LocalVariableName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#MemberName -->
        <module name="MemberName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#MethodName -->
        <module name="MethodName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#PackageName -->
        <module name="PackageName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#ParameterName -->
        <module name="ParameterName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#StaticVariableName -->
        <module name="StaticVariableName"/>

        <!-- See http://checkstyle.sourceforge.net/config_naming.html#TypeName -->
        <module name="TypeName"/>





        <!-- See http://checkstyle.sourceforge.net/config_sizes.html#LineLength -->
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>

        <!-- See http://checkstyle.sourceforge.net/config_sizes.html#MethodLength -->
        <module name="MethodLength"/>

        <!-- See http://checkstyle.sourceforge.net/config_sizes.html#AnonInnerLength -->
        <module name="AnonInnerLength">
            <property name="max" value="60"/>
        </module>

        <!-- See http://checkstyle.sourceforge.net/config_sizes.html#AnonInnerLength -->
        <module name="ParameterNumber"/>

        <!-- See http://checkstyle.sourceforge.net/config_sizes.html#OuterTypeNumber -->
        <module name="OuterTypeNumber"/>

        <!-- See http://checkstyle.sourceforge.net/config_sizes.html#MethodCount -->
        <module name="MethodCount">
            <property name="maxPublic" value="100"/>
            <property name="maxProtected" value="100"/>
            <property name="maxPackage" value="100"/>
            <property name="maxPrivate" value="100"/>
            <property name="maxTotal" value="100"/>
        </module>





        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#GenericWhitespace
        <module name="GenericWhitespace"/>
         -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#EmptyForInitializerPad
        <module name="EmptyForInitializerPad">
            <property name="option" value="space"/>
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#EmptyForInitializerPad
        <module name="EmptyForIteratorPad">
            <property name="option" value="space" />
        </module>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#MethodParamPad -->
        <module name="MethodParamPad"/>

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#NoWhitespaceAfter
        <module name="NoWhitespaceAfter"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#NoWhitespaceBefore
        <module name="NoWhitespaceBefore"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#WhitespaceAfter
        <module name="WhitespaceAfter"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#WhitespaceAround
        <module name="WhitespaceAround"/>
        -->

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#OperatorWrap -->
        <module name="OperatorWrap"/>

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#ParenPad -->
        <module name="ParenPad"/>

        <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#TypecastParenPad -->
        <module name="TypecastParenPad"/>

    </module>

</module>

