<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN" "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
    <!-- Checks that a package.html file exists for each package.     -->
    <!-- See http://checkstyle.sf.net/config_javadoc.html#PackageHtml -->
    <module name="PackageHtml"/>

    <!-- Checks whether files end with a new line.                        -->
    <!-- See http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile"/>

    <!-- Checks that property files contain the same keys.         -->
    <!-- See http://checkstyle.sf.net/config_misc.html#Translation -->
    <module name="Translation"/>
    <module name="TreeWalker">
        <!-- Javadoc requirements -->
        <module name="JavadocType">
            <property name="scope" value="protected"/>
        </module>
        <module name="JavadocMethod">
            <property name="scope" value="protected"/>
            <property name="allowUndeclaredRTE" value="true"/>
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="public"/>
        </module>

        <!-- element naming -->
        <module name="PackageName"/>
        <module name="TypeName"/>
        <module name="ConstantName">
            <property name="format" value="^([A-Z][A-Z0-9]*(_[A-Z0-9]+)*)|(logger)$"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>

        <!-- Import conventions -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- size limits -->
        <module name="FileLength"/>
        <module name="LineLength">
            <property name="max" value="120" />
            <property name="ignorePattern" value="@version|@see|@todo|TODO"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>

        <!-- whitespace checks -->
        <module name="EmptyForIteratorPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TabCharacter"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <!-- remove COLON, WILDCARD, GENERIC_START and GENERIC_END
                 from whitespace around check -->
            <property name="tokens"
                      value=
                      "ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN,
                       BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN,
                       DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY,
                       LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO,
                       LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR,
                       LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED,
                       LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS,
                       MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL,
                       PLUS, PLUS_ASSIGN, RCURLY, SL,
                       SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN,
                       TYPE_EXTENSION_AND, QUESTION
                       "/>
        </module>
        <module name="Regexp">
            <property name="format" value="^$\n^$\n"/>
            <property name="message" value="Only one consecutive blank line allowed"/>
            <property name="duplicateLimit" value="1"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <module name="Regexp">
            <property name="format" value="Created by IntelliJ IDEA"/>
            <property name="message" value="Autogenerated javadoc comments are not allowed"/>
            <property name="illegalPattern" value="true"/>
            <property name="severity" value="warning"/>
        </module>

        <module name="Regexp">
            <property name="format" value="//To change .* use File . Settings . File Templates."/>
            <property name="message" value="Ensure Autogenerated code is correct"/>
            <property name="illegalPattern" value="true"/>
            <property name="severity" value="info"/>
        </module>

        <!-- Modifier Checks -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>


        <!-- Checks for blocks -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>


        <!-- Checks for common coding problems -->
        <!--
        <module name="AvoidInlineConditionals"/>
             -->
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <!--
        <module name="RedundantThrows">
          <property name="allowUnchecked" value="true"/>
        </module>
             -->
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>

        <!-- Checks for class design -->
        <!--
        <module name="DesignForExtension"/>
             -->
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>

        <!-- Miscellaneous other checks. -->
        <module name="ArrayTypeStyle"/>
        <!-- Suppress trailing spaces report -->
        <module name="GenericIllegalRegexp">
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing spaces."/>
        </module>

        <module name="TodoComment"/>
        <module name="UpperEll"/>
        <!-- allow comment suppression of checks -->
        <module name="FileContentsHolder"/>
    </module>

    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="CheckStyle\:([\w\|]+) *OFF"/>
        <property name="onCommentFormat" value="CheckStyle\:([\w\|]+) *ON"/>
        <property name="checkFormat" value="$1"/>
    </module>

</module>
