<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>


    <module name="TreeWalker">
        <module name="RegexpSinglelineJava">
            <!-- \s matches whitespace character, $ matches end of line. -->
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing spaces."/>
            <property name="ignoreComments" value="true"/>
        </module>

        <property name="cacheFile" value="${checkstyle.cache.file}"/>

        <!-- Checks for imports                              -->
        <module name="UnusedImports">
            <property name="processJavadoc" value="true"/>
        </module>
        <module name="AvoidStarImport">
            <property name="allowStaticMemberImports" value="true"/>
        </module>
        <module name="RedundantImport"/>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="junit.framework"/>
        </module>

        <module name="LeftCurly">
            <property name="option" value="eol"/>
            <property name="tokens" value="CLASS_DEF,CTOR_DEF,INTERFACE_DEF,METHOD_DEF,LITERAL_SWITCH,STATIC_INIT"/>
        </module>

        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="UpperEll"/>
        <module name="IllegalInstantiation"/>
        <module name="ArrayTypeStyle"/>
        <module name="PackageAnnotation"/>

    </module>

</module>

