<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="ConstantName"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_CATCH"/>
        </module>
        <module name="AbstractClassName">
            <property name="format" value="^Abstract.*$"/>
        </module>
        <module name="ClassTypeParameterName">
            <property name="format" value="^[a-zA-Z_]*$"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodTypeParameterName">
            <property name="format" value="^[a-zA-Z_]*$"/>
        </module>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="NeedBraces"/>
        <module name="AvoidNestedBlocks"/>
        <!-- <module name="VisibilityModifier">
             <property name="protectedAllowed" value="true"/>
         </module>-->
        <module name="InnerTypeLast"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <!--<module name="InnerAssignment"/>-->
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <!--<module name="RedundantThrows"/>-->
        <module name="StringLiteralEquality"/>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <module name="MultipleStringLiterals">
            <property name="allowedDuplicates" value="3"/>
        </module>
        <module name="MultipleVariableDeclarations"/>
        <module name="UpperEll"/>
        <module name="ArrayTypeStyle"/>
        <module name="ModifierOrder"/>
        <module name="MethodLength"/>
        <module name="AnonInnerLength">
            <property name="max" value="60"/>
        </module>
        <module name="MethodCount">
            <property name="maxTotal" value="120"/>
            <property name="maxPublic" value="120"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="tokens"
                      value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND"/>
        </module>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="Indentation"/>
        <module name="TrailingComment"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="30"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="30"/>
        </module>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="100"/>
        </module>
    </module>
    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>

    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="CHECKSTYLE.OFF"/>
        <property name="onCommentFormat" value="CHECKSTYLE.ON"/>
        <property name="checkFormat" value="$1"/>
    </module>

</module>




