<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="FileTabCharacter">
        <property name="severity" value="error"/>
        <property name="fileExtensions" value="java,xml"/>
    </module>
    <module name="Translation">
        <property name="severity" value="error"/>
    </module>
    <module name="TreeWalker">
        <!-- Required for SuppressionCommentFilter below -->
        <module name="FileContentsHolder"/>
        <property name="tabWidth" value="1"/>
        <module name="AvoidStarImport">
            <property name="severity" value="error"/>
            <property name="allowClassImports" value="true"/>
            <property name="allowStaticMemberImports" value="true"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="severity" value="warning"/>
            <property name="max" value="10"/>
        </module>
        <module name="ConstantName">
            <property name="severity" value="error"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="severity" value="warning"/>
            <property name="max" value="15"/>
        </module>
        <module name="DefaultComesLast">
            <property name="severity" value="error"/>
        </module>
        <module name="EmptyBlock">
            <property name="severity" value="error"/>
            <property name="tokens" value=""/>
            <property name="option" value="text"/>
        </module>
        <module name="EmptyForInitializerPad">
            <property name="severity" value="warning"/>
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="error"/>
        </module>
        <module name="EqualsAvoidNull">
            <property name="severity" value="error"/>
            <property name="ignoreEqualsIgnoreCase" value="false"/>
        </module>
        <module name="EqualsHashCode">
            <property name="severity" value="error"/>
        </module>
        <module name="HiddenField">
            <property name="severity" value="error"/>
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
            <property name="setterCanReturnItsClass" value="true"/>
        </module>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="error"/>
        </module>
        <module name="IllegalImport">
            <property name="severity" value="error"/>
        </module>
        <module name="InnerTypeLast">
            <property name="severity" value="warning"/>
        </module>
        <module name="JavadocMethod">
            <property name="severity" value="warning"/>
            <property name="allowMissingParamTags" value="true"/>
            <property name="allowUndeclaredRTE" value="true"/>
            <property name="allowMissingReturnTag" value="true"/>
            <property name="allowMissingJavadoc" value="true"/>
            <property name="allowMissingThrowsTags" value="true"/>
        </module>
        <module name="JavadocStyle">
            <property name="severity" value="warning"/>
            <property name="checkFirstSentence" value="false"/>
            <property name="checkHtml" value="false"/>
        </module>
        <module name="JavadocType">
            <property name="severity" value="warning"/>
            <property name="allowMissingParamTags" value="true"/>
            <property name="scope" value="protected"/>
        </module>
        <module name="JavadocVariable">
            <property name="severity" value="warning"/>
            <property name="scope" value="public"/>
        </module>
        <module name="LeftCurly">
            <property name="severity" value="error"/>
            <property name="option" value="eol"/>
        </module>
        <module name="LineLength">
            <property name="severity" value="warning"/>
            <property name="max" value="200"/>
        </module>
        <module name="LocalFinalVariableName">
            <property name="severity" value="error"/>
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="error"/>
        </module>
        <module name="MemberName">
            <property name="severity" value="error"/>
            <property name="format" value="^[a-z][a-zA-Z0-9]*|LOG|LOGGER$"/>
        </module>
        <module name="MethodName">
            <property name="severity" value="warning"/>
            <property name="applyToPublic" value="true"/>
            <property name="applyToProtected" value="false"/>
            <property name="allowClassName" value="false"/>
            <property name="applyToPackage" value="true"/>
            <property name="applyToPrivate" value="true"/>
        </module>
        <module name="MethodParamPad">
            <property name="severity" value="error"/>
        </module>
        <module name="MissingSwitchDefault">
            <property name="severity" value="error"/>
        </module>
        <module name="ModifierOrder">
            <property name="severity" value="error"/>
        </module>
        <module name="NeedBraces">
            <property name="severity" value="error"/>
        </module>
        <module name="PackageName">
            <property name="severity" value="warning"/>
        </module>
        <module name="ParameterName">
            <property name="severity" value="error"/>
        </module>
        <module name="RedundantImport">
            <property name="severity" value="error"/>
        </module>
        <module name="RedundantModifier">
            <property name="severity" value="error"/>
        </module>
        <module name="RightCurly">
            <property name="severity" value="error"/>
        </module>
        <module name="SimplifyBooleanExpression">
            <property name="severity" value="warning"/>
        </module>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="warning"/>
        </module>
        <module name="StaticVariableName">
            <property name="severity" value="error"/>
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="warning"/>
        </module>
        <module name="UnusedImports">
            <property name="severity" value="error"/>
            <property name="processJavadoc" value="false"/>
        </module>
        <module name="VisibilityModifier">
            <property name="severity" value="warning"/>
            <property name="packageAllowed" value="false"/>
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="WhitespaceAfter">
            <property name="severity" value="error"/>
        </module>
    </module>
    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="GEN-BEGIN\:"/>
        <property name="onCommentFormat" value="GEN-END\:"/>
    </module>
</module>
