script: "mvn clean test verify"

after_success:
  - mvn clean cobertura:cobertura coveralls:cobertura


notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/2aecec65e90b910aaefc
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
