<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<!-- 
    Copyright (c) 2009 Brian Thomas Matthews
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<module name="Checker">
	<module name="SuppressionCommentFilter" />
	<module name="PackageHtml" />
	<module name="TreeWalker">
		<module name="FileContentsHolder" />
		<module name="JavadocType">
			<property name="authorFormat"
				value="^&lt;a href=&quot;mailto:([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})&quot;&gt;([a-zA-Z.\s']{1,50})&lt;/a&gt;$" />
			<property name="versionFormat"
				value="^((\d)?(\d{1})(\.{1})(\d)?(\d{1})){1,2}$" />
		</module>
		<module name="JavadocMethod" />
		<module name="JavadocVariable" />
		<module name="JavadocStyle">
			<property name="checkEmptyJavadoc" value="true" />
		</module>
		<module name="AbstractClassName" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<module name="TypeName">
			<property name="format" value="^I[a-zA-Z0-9]*$" />
			<property name="tokens" value="INTERFACE_DEF" />
		</module>
<!--
		<module name="RegexpHeader">
			<property name="header"
				value="^/\*$\n^ \*  Copyright \(c\) 2006-2008 TerraNua Limited\.$\n^ \*  All rights reserved, worldwide\.$\n^ \*$\n^ \*  This software and all information contained herein is the property of$\n^ \*  TerraNua Limited\. Any dissemination, disclosure, use, or reproduction$\n^ \*  of this material for any reason inconsistent with the express purpose$\n^ \*  for which it has been disclosed is strictly forbidden\.$\n^ \*/$\n^$\n^package\n^$\n" />
			<property name="multiLines" value="12,15" />
		</module>
-->
		<module name="AvoidStarImport" />
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UnusedImports" />
		<module name="ImportOrder">
			<property name="groups"
				value="java,junit,javax,org,net,com" />
			<property name="ordered" value="true" />
			<property name="separated" value="true" />
		</module>
		<!--
			<module name="ImportControl">	
			<property name="file" value="c:/brian/import-control.xml"/>
			</module>
		-->
		<module name="ExecutableStatementCount" />
		<module name="FileLength" />
		<module name="LineLength">
			<property name="max" value="132" />
		</module>
		<module name="MethodLength" />
		<module name="AnonInnerLength" />
		<module name="ParameterNumber" />
		<module name="EmptyForInitializerPad">
			<property name="option" value="nospace" />
		</module>
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter">
			<!-- Default tokens and additional GENERIC_START -->
			<property name="tokens"
				value="ARRAY_INIT, BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS, TYPECAST, GENERIC_START" />
		</module>
		<module name="NoWhitespaceBefore">
			<!-- Default tokens and additional GENERIC_START and GENERIC_END -->
			<property name="tokens"
				value="SEMI, POST_DEC, POST_INC, GENERIC_START, GENERIC_END" />
		</module>
		<module name="WhitespaceAfter">
			<!-- Default tokens and additional GENERIC_END -->
			<property name="tokens"
				value="COMMA, SEMI, GENERIC_END" />
		</module>
		<module name="WhitespaceAround">
			<!-- Default tokens without GENERIC_START and GENERIC_END -->
			<property name="tokens"
				value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND, WILDCARD_TYPE" />
		</module>
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="TabCharacter" />
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />
		<module name="EmptyBlock">
			<property name="option" value="stmt" />
		</module>
		<module name="LeftCurly">
			<property name="option" value="nl" />
		</module>
		<module name="NeedBraces" />
		<module name="RightCurly">
			<property name="option" value="alone" />
		</module>
		<module name="AvoidNestedBlocks">
			<property name="allowInSwitchCase" value="true" />
		</module>
		<module name="ArrayTrailingComma" />
		<module name="AvoidInlineConditionals" />
		<module name="CovariantEquals" />
		<module name="DoubleCheckedLocking" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="FinalLocalVariable" />
		<module name="HiddenField" />
		<module name="IllegalInstantiation">
			<property name="classes" value="java.lang.Boolean" />
		</module>
		<module name="IllegalToken">
			<property name="tokens" value="LITERAL_NATIVE" />
		</module>
		<module name="InnerAssignment" />
		<module name="MagicNumber" />
		<module name="MissingSwitchDefault" />
		<module name="ModifiedControlVariable" />
		<module name="RedundantThrows" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="NestedIfDepth" />
		<module name="NestedTryDepth" />
		<module name="SuperClone" />
		<module name="SuperFinalize" />
		<module name="IllegalCatch" />
		<module name="IllegalThrows" />
		<module name="PackageDeclaration" />
		<module name="JUnitTestCase" />
		<module name="ReturnCount" />
		<module name="IllegalType" />
		<module name="DeclarationOrder" />
		<module name="ParameterAssignment" />
		<module name="ExplicitInitialization" />
		<module name="DefaultComesLast" />
		<module name="MissingCtor" />
		<module name="FallThrough" />
		<module name="MultipleStringLiterals" />
		<module name="MultipleVariableDeclarations" />
		<module name="RequireThis" />
		<module name="UnnecessaryParentheses" />
		<module name="VisibilityModifier" />
		<module name="FinalClass" />
		<module name="InterfaceIsType" />
		<module name="HideUtilityClassConstructor" />
		<module name="DesignForExtension" />
		<module name="MutableException" />
		<!--	<module name="ThrowsCount"/> -->
		<module name="BooleanExpressionComplexity" />
		<module name="ClassDataAbstractionCoupling" />
		<module name="ClassFanOutComplexity" />
		<module name="CyclomaticComplexity" />
		<module name="NPathComplexity" />
		<module name="JavaNCSS" />
		<module name="TodoComment" />
		<module name="UncommentedMain" />
		<module name="UpperEll" />
		<module name="ArrayTypeStyle" />
		<module name="FinalParameters" />
		<module name="DescendantToken" />
		<module name="Indentation" />
		<module name="TrailingComment" />
	</module>
	<!--  <module name="StrictDuplicateCode"/> -->
	<!--  <module name="NewlineAtEndOfFile"/> -->
</module>
