<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
		"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
		"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">

	<property name="charset" value="UTF-8"/>
	<module name="SuppressionCommentFilter">
		<property name="offCommentFormat" value="CHECKSTYLE\:OFF"/>
		<property name="onCommentFormat" value="CHECKSTYLE\:ON"/>
	</module>
	<module name="TreeWalker">
		<module name="MissingOverride"/>
		<module name="StringLiteralEquality"/>
		<!-- TODO - We use smart tabs and cannot enforce proper indentation with checkstyle-->
		<!--<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* +\t*\S"/>
			<property name="message" value="Line has leading space characters; indentation should be performed with tabs only."/>
			<property name="ignoreComments" value="true"/>
		</module>-->
		<module name="ModifierOrder"/>
		<module name="RedundantModifier"/>
		<module name="ArrayTypeStyle"/>

		<module name="SimplifyBooleanReturn"/>

		<module name="IllegalImport">
			<!-- use org.apache.commons.lang3, non-deprecated junit packages and slf4j instead-->
			<property name="illegalPkgs" value="org.apache.commons.lang,junit.framework,org.apache.commons.logging,edu.emory.mathcs,org.mule.util,com.sun.org.apache.xerces.internal.jaxp.datatype"/>
		</module>
		<!-- Эти проблемы фиксятся автоформатированием в Идее - его не надо забывать применять-->
		<module name="GenericWhitespace"/>
		<module name="ParenPad"/>
		<module name="WhitespaceAround">
			<property name="tokens" value="ASSIGN, LITERAL_CATCH, COLON, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR,
			 LITERAL_IF, LITERAL_TRY, LITERAL_WHILE, LOR, LAND, EQUAL, GE, GT, LE, LT, PLUS, QUESTION, STAR"/>
		</module>
		<module name="NeedBraces">
			<property name="tokens" value="LITERAL_IF, LITERAL_ELSE"/>
		</module>
		<module name="ClassTypeParameterName">
			<property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
		</module>
		<module name="MethodTypeParameterName">
			<property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
		</module>
		<module name="ConstantName">
			<property name="applyToPrivate" value="false"/>
			<property name="applyToPackage" value="false"/>
			<property name="applyToProtected" value="false"/>
		</module>
		<module name="ArrayTypeStyle"/>
		<module name="UpperEll"/>
		<module name="UnnecessaryParentheses"/>
		<module name="FallThrough"/>
		<module name="DefaultComesLast"/>
		<module name="NoFinalizer"/>

		<module name="NestedForDepth">
			<property name="max" value="3"/>
		</module>
		<module name="NestedTryDepth">
			<property name="max" value="2"/>
		</module>

		<module name="FileContentsHolder"/>
	</module>
</module>
