<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<module name="JavadocPackage"/>
	<module name="TreeWalker">
		<module name="AtclauseOrder"/>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="JavadocMethod">
			<property name="excludeScope" value="private"/>
			<property name="ignoreMethodNamesRegex" value="^(toString|equals|hashCode)$"/>
		</module>
		<module name="JavadocStyle"/>
		<module name="JavadocType">
			<property name="excludeScope" value="private"/>
		</module>
		<module name="JavadocVariable">
			<property name="excludeScope" value="private"/>
		</module>
	</module>
</module>
