<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
	Das ist eine abgespeckte und vereinfachte Variante der Programmierrichtlinien 
	von Sun gemaess: http://repo1.maven.org/maven2/org/apache/maven/plugins/maven-checkstyle-plugin/2.5/maven-checkstyle-plugin-2.5.jar#config/sun_checks.xml
-->

<module name="Checker">
	<!-- http://checkstyle.sourceforge.net/config_misc.html#Translation -->
	<module name="Translation"/>

	<module name="FileLength"/>
	
	<module name="TreeWalker">
		<property name="cacheFile" value="${checkstyle.cache.file}"/>

		<!-- http://checkstyle.sourceforge.net/config_naming.html -->
		<module name="ConstantName"/>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName"/>
		<module name="MemberName"/>
		<module name="MethodName"/>
		<module name="PackageName"/>
		<module name="ParameterName"/>
		<module name="StaticVariableName"/>
		<module name="TypeName"/>

		<!-- http://checkstyle.sourceforge.net/config_imports.html -->
		<module name="AvoidStarImport"/>
		<module name="IllegalImport"/>      <!-- default: sun.* packages -->
		<module name="RedundantImport"/>
		<module name="UnusedImports"/>

		<!-- http://checkstyle.sourceforge.net/config_sizes.html -->
		<!--
		<module name="LineLength">
			<property name="max" value="120"/>
		</module>
		-->
		<module name="MethodCount">
			<property name="maxPublic" value="30"/>
			<property name="maxProtected" value="10"/>
			<property name="maxPackage" value="10"/>
			<property name="maxPrivate" value="10"/>
		</module>
		<module name="MethodLength"/>
		<module name="ParameterNumber"/>
		
		<!-- http://checkstyle.sourceforge.net/config_whitespace.html -->
		<module name="EmptyForIteratorPad"/>
		<module name="MethodParamPad"/>
		<module name="NoWhitespaceAfter"/>
		<module name="NoWhitespaceBefore"/>
		<module name="OperatorWrap"/>
		<module name="ParenPad"/>
		<module name="TypecastParenPad"/>
		<module name="WhitespaceAfter"/>
		<module name="WhitespaceAround"/>

		<!-- http://checkstyle.sourceforge.net/config_modifier.html -->
		<module name="ModifierOrder"/>
		<module name="RedundantModifier"/>

		<!-- http://checkstyle.sourceforge.net/config_blocks.html -->
		<module name="AvoidNestedBlocks"/>
		<module name="EmptyBlock"/>
		<module name="LeftCurly">
			<!-- Falls die oeffnende Klammer in einer neuen Zeile (nl = new line) stehen soll -->
			<!--
			<property name="option" value="nl"/>
			-->
		</module>
		<module name="NeedBraces">
			<property name="tokens" value="LITERAL_DO, LITERAL_FOR, LITERAL_WHILE"/>
		</module>
		<module name="RightCurly">
			<!-- Schliessende Klammer in einer eigenen Zeile bei: try, catch, finally, if, else -->
			<!-- d.h. NICHT: } catch (...) { -->
			<property name="option" value="alone"/>
			<property name="tokens" value="LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE"/>
		</module>

		<!-- http://checkstyle.sourceforge.net/config_coding.html -->
		<module name="DefaultComesLast"/>
		<module name="DoubleCheckedLocking"/>
		<module name="EmptyStatement"/>
		<module name="EqualsHashCode"/>
		<module name="HiddenField">
			<property name="ignoreConstructorParameter" value="true"/>
			<property name="ignoreSetter" value="true"/>
		</module>
		<module name="IllegalInstantiation"/>
		<module name="IllegalCatch"/>
		<module name="IllegalThrows"/>
		<module name="InnerAssignment"/>
		<module name="MagicNumber">
			<property name="ignoreHashCodeMethod" value="true"/>
			<property name="ignoreAnnotation" value="true"/>
		</module>
		<module name="MissingSwitchDefault"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="NestedIfDepth">
			<property name="max" value="2"/>
		</module>
		<module name="OneStatementPerLine"/>
		<module name="RedundantThrows"/>
		<module name="SimplifyBooleanExpression"/>
		<module name="SimplifyBooleanReturn"/>
		<module name="StringLiteralEquality"/>

		<!-- http://checkstyle.sourceforge.net/config_design.html -->
		<module name="FinalClass"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="InterfaceIsType"/>
		<module name="VisibilityModifier"/>

		<!-- http://checkstyle.sourceforge.net/config_misc.html -->
		<module name="ArrayTypeStyle"/>
		<module name="TodoComment"/>
		<module name="UpperEll"/>
	</module>
</module>
