<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<!-- See http://checkstyle.sf.net/config_header.html -->
	<!-- Following interprets the header file as regular expressions. -->
	<!-- NOTE the used variable is supplied by the invocation in maven! -->
	<module name="RegexpHeader">
		<property name="headerFile" value="${java.header.regex.template.file}"/>
	</module>
</module>
