<?xml version="1.0" encoding="UTF-8"?>
<!--
	This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
Checkstyle-Configuration: cactus-checkstyle
Description:

-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="Header">
        <property name="headerFile" value="${checkstyle.header.file}"/>
        <property name="ignoreLines" value="4"/>
    </module>
    <module name="FileLength"/>
    <module name="FileTabCharacter"/>
    <module name="RegexpSingleline">
        <property name="format" value="((public)|(protected))\s+void\s+finalize\(\s*\)"/>
        <property name="message" value="Avoid finalizers"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="System\.(out|err)\."/>
        <property name="message" value="Don't write directly to System.out our System.err"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="@author"/>
        <property name="message" value="No @author tag allowed"/>
    </module>
    <module name="TreeWalker">
        <module name="LineLength">
            <property name="ignorePattern" value="(@version|@see|^import)"/>
            <property name="max" value="120"/>
        </module>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="ConstantName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="PackageName"/>
        <module name="ParameterName">
            <property name="format" value="^(the|is|has)[A-Z][a-zA-Z0-9]*$"/>
        </module>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_CATCH"/>
        </module>
        <module name="NeedBraces"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="DOT"/>
        </module>
        <module name="NoWhitespaceBefore">
            <property name="allowLineBreaks" value="true"/>
            <property name="tokens" value="DOT"/>
        </module>
        <module name="OperatorWrap"/>
        <module name="LeftCurly">
            <property name="option" value="nl"/>
        </module>
        <module name="RightCurly">
            <property name="option" value="alone"/>
        </module>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean, java.lang.String"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="MethodLength"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifierOrder"/>
        <module name="ParameterNumber"/>
        <module name="ParenPad"/>
        <module name="RedundantModifier"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="UpperEll"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
            <property name="publicMemberPattern" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>
        <module name="FinalClass"/>
        <!--module name="JavadocType">
            <property name="versionFormat" value="\$Id.*\$"/>
            <property name="allowUnknownTags" value="true"/>
        </module-->
        <module name="JavadocMethod">
            <property name="allowUndeclaredRTE" value="true"/>
        </module>
        <module name="JavadocVariable"/>
        <module name="JavadocStyle"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="TodoComment"/>
    </module>
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>
</module>
