<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    Checkstyle-Configuration: Agile Quality Assurance
    Description: This is customized checkstyle template
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
  	<!-- To ignore the missing javadoc comments for setter and getter -->
    <module name="JavadocMethod">
    <property name="allowMissingPropertyJavadoc" value="true" />
	</module> 
    <module name="JavadocType"/>
    <module name="JavadocVariable">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocStyle"/>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <!-- To ignore the length for javadoc comments -->
    <module name="LineLength">
      <property name="max" value="200"/>
      <property name="ignorePattern" value="^ *\* *[^ ]+$"/>
    </module>
    <module name="MethodLength">
    	<property name="max" value="300"/>
    </module>
    <module name="EmptyForIteratorPad"/>
    <module name="GenericWhitespace"/>
    <module name="MethodParamPad"/>
    <!--
    	<module name="NoWhitespaceAfter"/>
    	<module name="NoWhitespaceBefore"/>
    -->
    <module name="OperatorWrap"/>
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter">
    	<!-- Configure the check for whitespace only after COMMA and SEMI tokens -->
    	<property name="tokens" value="COMMA, SEMI"/>
	</module>
    <module name="WhitespaceAround">
    	<!-- Configure the check for whitespace only around assignment operators-->
    	<property name="tokens"
               value="ASSIGN,DIV_ASSIGN,PLUS_ASSIGN,MINUS_ASSIGN,STAR_ASSIGN,MOD_ASSIGN,SR_ASSIGN,BSR_ASSIGN,SL_ASSIGN,BXOR_ASSIGN,BOR_ASSIGN,BAND_ASSIGN"/>
    </module>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>
    <module name="AvoidNestedBlocks">
      <property name="allowInSwitchCase" value="true"/>
    </module>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly">
      	<property name="tokens" value="LITERAL_ELSE"/>
     	<property name="option" value="alone"/>
    </module>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="IllegalInstantiation"/>
    <module name="InnerAssignment"/>
    <module name="MagicNumber"/>
    <module name="MissingSwitchDefault"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="ArrayTypeStyle"/>
    <module name="TodoComment">
		<property name="format" value="WARNING"/>
	</module>
    <module name="UpperEll"/>
  </module>
  <module name="JavadocPackage">
    <property name="allowLegacy" value="true"/>
  </module>
  <module name="FileLength"/>
  <module name="FileTabCharacter">
    <property name="fileExtensions" value="*.java"/>
  </module>
  <!-- to suppress checkstyle for some of the service generated classes -->
  <module name="SuppressionFilter">
  	 <property name="file" value="${checkstyle.suppressions.file}" default="suppressions.xml"/>
  </module>
</module>
