<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: No whitespace
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <module name="AbstractClassName"/>
        <module name="AnonInnerLength"/>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidStarImport"/>

        <module name="BooleanExpressionComplexity"/>

        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <module name="ConstantName"/>
        <module name="CovariantEquals"/>
        <module name="CyclomaticComplexity"/>

        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="DoubleCheckedLocking"/>

        <module name="EmptyBlock"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="ExecutableStatementCount">
            <property name="tokens" value="INSTANCE_INIT,STATIC_INIT,METHOD_DEF,CTOR_DEF"/>
        </module>
        <module name="ExplicitInitialization"/>

        <module name="FallThrough"/>
        <module name="FileLength"/>
        <module name="FinalLocalVariable"/>
        <module name="FinalParameters">
            <property name="severity" value="info"/>
            <property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
        </module>

        <module name="GenericIllegalRegexp">
            <property name="severity" value="error"/>
            <property name="format" value="System\.out\.println\("/>
            <property name="message" value="Avoid System.out.println(), use log.debug()"/>
        </module>
        <module name="GenericIllegalRegexp">
            <property name="severity" value="error"/>
            <property name="format" value="\.printStackTrace\(\)"/>
            <property name="message" value="Avoid exception.printStackTrace()"/>
        </module>

        <module name="HiddenField">
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>
        <module name="HideUtilityClassConstructor"/>

        <module name="IllegalCatch"/>
        <module name="IllegalImport"/>
        <module name="IllegalInstantiation"/>
        <module name="IllegalThrows"/>
        <module name="IllegalToken">
            <property name="tokens" value="POST_INC,POST_DEC,LITERAL_SWITCH"/>
        </module>
        <module name="IllegalTokenText"/>
        <module name="IllegalType">
            <property name="tokens" value="METHOD_DEF, PARAMETER_DEF, VARIABLE_DEF"/>
        </module>
        <module name="ImportOrder">
            <property name="severity" value="info"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="InterfaceIsType"/>

        <module name="JavadocMethod">
            <property name="severity" value="info"/>
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocStyle"/>
        <module name="JavadocType"/>
        <module name="JavaNCSS"/>
        <module name="JUnitTestCase"/>

        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>

        <module name="MagicNumber"/>
        <module name="MemberName">
            <property name="format" value="(^([a-z][a-z])([a-zA-Z0-9]*)$)|(^[a-z]$)"/>
        </module>
        <module name="MethodLength"/>
        <module name="MethodName"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <module name="MultipleStringLiterals"/>
        <module name="MutableException"/>

        <module name="NeedBraces"/>
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NPathComplexity"/>

        <module name="PackageDeclaration"/>
        <module name="PackageName"/>
        <module name="ParameterAssignment"/>
        <module name="ParameterName">
            <property name="format" value="(^[a-z][a-z][a-zA-Z0-9]*$)|(^[a-z]$)"/>
        </module>
        <module name="ParameterNumber"/>

        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="RedundantThrows"/>
        <module name="ReturnCount">
            <property name="max" value="3"/>
        </module>

        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>

        <module name="TabCharacter"/>
        <module name="ThrowsCount">
            <property name="max" value="5"/>
        </module>
        <module name="TypeName"/>

        <module name="UncommentedMain"/>
        <module name="UnnecessaryParentheses"/>
        <module name="UnusedImports"/>
        <module name="UpperEll"/>

        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>

        <module name="j2ee.EntityBean"/>
        <module name="j2ee.FinalStatic"/>
        <module name="j2ee.LocalHomeInterface"/>
        <module name="j2ee.LocalInterface"/>
        <module name="j2ee.MessageBean"/>
        <module name="j2ee.RemoteHomeInterface"/>
        <module name="j2ee.RemoteInterface"/>
        <module name="j2ee.SessionBean"/>
        <module name="j2ee.ThisParameter"/>
        <module name="j2ee.ThisReturn"/>
    </module>
    <module name="Translation"/>
</module>
