<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!--

	Checkstyle configuration that checks the sun coding conventions from:

	- the Java Language Specification at
	http://java.sun.com/docs/books/jls/second_edition/html/index.html

	- the Sun Code Conventions at http://java.sun.com/docs/codeconv/

	- the Javadoc guidelines at
	http://java.sun.com/j2se/javadoc/writingdoccomments/index.html

	- the JDK Api documentation http://java.sun.com/j2se/docs/api/index.html

	- some best practices

	Checkstyle is very configurable. Be sure to read the documentation at
	http://checkstyle.sf.net (or in your downloaded distribution).

	Most Checks are configurable, be sure to consult the documentation.

	To completely disable a check, just comment it out or delete it from the file.

	Finally, it is worth reading the documentation.

-->

<module name="Checker">
    <module name="SuppressionCommentFilter"/>
    <module name="TreeWalker">
        <module name="FileContentsHolder"/>
        <module name="CyclomaticComplexity">
            <property name="severity" value="warning"/>
            <property name="max" value="7"/>
        </module>
        <module name="HiddenField">
            <property name="severity" value="warning"/>
            <property name="tokens" value="VARIABLE_DEF"/>
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
            <property name="ignoreAbstractMethods" value="true"/>
        </module>
        <module name="DoubleCheckedLocking">
            <property name="severity" value="warning"/>
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="warning"/>
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="IllegalThrows">
            <property name="severity" value="warning"/>
        </module>
        <module name="RedundantModifier">
            <property name="severity" value="info"/>
        </module>
        <module name="AnonInnerLength">
            <property name="severity" value="warning"/>
        </module>
        <module name="StaticVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="MethodName">
            <property name="severity" value="warning"/>
        </module>
        <module name="ParameterName">
            <property name="severity" value="warning"/>
        </module>
        <module name="FinalClass">
            <property name="severity" value="warning"/>
        </module>
        <module name="DefaultComesLast">
            <property name="severity" value="warning"/>
        </module>
        <module name="LocalFinalVariableName">
            <property name="severity" value="warning"/>
        </module>
        <module name="MemberName">
            <property name="severity" value="warning"/>
        </module>
        <module name="EqualsHashCode">
            <property name="severity" value="error"/>
        </module>
        <module name="VisibilityModifier">
            <property name="severity" value="info"/>
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="info"/>
        </module>
        <module name="PackageName">
            <property name="severity" value="warning"/>
        </module>
        <module name="ConstantName">
            <property name="severity" value="info"/>
        </module>
        <module name="ParameterAssignment">
            <property name="severity" value="warning"/>
        </module>
        <module name="RedundantThrows">
            <property name="severity" value="info"/>
        </module>
        <module name="UnusedImports">
            <property name="severity" value="info"/>
        </module>
        <module name="DesignForExtension">
            <property name="severity" value="info"/>
        </module>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="warning"/>
        </module>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="warning"/>
        </module>
        <module name="SimplifyBooleanExpression">
            <property name="severity" value="warning"/>
        </module>
        <module name="ModifierOrder">
            <property name="severity" value="info"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="severity" value="warning"/>
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="warning"/>
        </module>
        <module name="MagicNumber">
            <property name="severity" value="warning"/>
        </module>
    </module>
</module>