<?xml version="1.0"?>
<!--
  ~ Commons Library
  ~ Copyright (c) 2015 Sergey Grachev (sergey.grachev@yahoo.com). All rights reserved.
  ~
  ~ This software is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this software.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="SuppressWarningsFilter"/>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="RegexpSingleline">
        <!-- \s matches whitespace character, $ matches end of line. -->
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>

        <!--ANNOTATIONS-->

        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>

        <!--BLOCK CHECKS-->

        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
            <property name="commentFormat" value="ignore"/>
        </module>
        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>

        <!--CLASS DESIGN-->

        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="HideUtilityClassConstructor"/>
        <!--<module name="DesignForExtension"/>-->
        <module name="MutableException"/>
        <module name="ThrowsCount">
            <property name="max" value="2"/>
        </module>

        <!--CODING-->

        <module name="CovariantEquals"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="FinalLocalVariable"/>
        <!--<module name="HiddenField"/>-->
        <module name="IllegalInstantiation"/>
        <!--<module name="InnerAssignment"/>-->
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="StringLiteralEquality"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows"/>
        <module name="PackageDeclaration"/>
        <module name="IllegalType"/>
        <module name="DeclarationOrder"/>
        <module name="ParameterAssignment"/>
        <module name="ExplicitInitialization"/>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <!--<module name="MultipleStringLiterals"/>-->
        <module name="UnnecessaryParentheses"/>
        <module name="OneStatementPerLine"/>

        <!--IMPORTS-->

        <module name="AvoidStarImport">
            <property name="allowStaticMemberImports" value="true"/>
            <property name="excludes" value="java.awt,javax.swing"/>
        </module>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="true"/>
        </module>
        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="THIRD_PARTY_PACKAGE###STANDARD_JAVA_PACKAGE"/>
        </module>

        <!--MISCELLANEOUS-->

        <module name="UpperEll"/>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
        <module name="TrailingComment"/>
        <module name="Regexp">
            <property name="format" value="^.*Copyright \(c\) .*$"/>
            <property name="duplicateLimit" value="0"/>
        </module>
        <module name="OuterTypeFilename"/>

        <!--MODIFIERS-->

        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!--NAMING CONVENTIONS-->

        <module name="AbbreviationAsWordInName"/>
        <!--<module name="AbstractClassName"/>-->
        <module name="PackageName"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="StaticVariableName"/>
        <module name="ClassTypeParameterName"/>
        <module name="InnerTypeLast"/>
        <module name="OneTopLevelClass"/>

        <!--WHITESPACE-->

        <module name="GenericWhitespace"/>
        <module name="NoWhitespaceAfter"/>
    </module>
</module>

