<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
<module name="TreeWalker">

	        <!-- Checks for Javadoc comments.                     -->
	        <!-- See http://checkstyle.sf.net/config_javadoc.html -->
        <module name="JavadocMethod"/>
        <module name="TodoComment"/>
       
	     <!--    <module name="JavadocType"/>
	        <module name="JavadocVariable"/>
            <module name="JavadocStyle"/> -->
            
            
           <!--    Regular expresion based checks to stop not allowed comment types-->    
        <module name="Regexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="FIXME"/>
            <property name="format" value="FIXME:"/>
            <property name="message" value="FIXME:"/>
            <property name="illegalPattern" value="true"/>
        </module>
         <module name="Regexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="FIX_ME"/>
            <property name="format" value="FIX ME:"/>
            <property name="message" value="FIX ME:"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="Regexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="fixme"/>
            <property name="format" value="fixme:"/>
            <property name="message" value="fixme:"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="Regexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="fix_me"/>
            <property name="format" value="fix me:"/>
            <property name="message" value="fix me:"/>
            <property name="illegalPattern" value="true"/>
        </module>
</module>
</module>