<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: jens
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <module name="JavadocVariable">
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocStyle">
            <property name="checkFirstSentence" value="false"/>
        </module>
        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <property name="excludeScope" value="private"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="JavadocType">
            <property name="scope" value="package"/>
            <property name="authorFormat" value="(Jens Ritter|hacker|mac|ritter)"/>
        </module>
        <module name="AbstractClassName"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
        </module>
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
        </module>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="AnonInnerLength">
            <property name="max" value="34"/>
        </module>
        <module name="ExecutableStatementCount">
            <property name="severity" value="ignore"/>
            <property name="tokens" value="INSTANCE_INIT,STATIC_INIT,METHOD_DEF,CTOR_DEF"/>
        </module>
        <module name="FileLength">
            <property name="max" value="2500"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="350"/>
        </module>
        <module name="ParameterNumber"/>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="MethodParamPad"/>
        <module name="ParenPad">
            <property name="tokens" value="CTOR_CALL,METHOD_CALL,SUPER_CTOR_CALL"/>
        </module>
        <module name="TabCharacter"/>
        <module name="TypecastParenPad">
            <property name="tokens" value="RPAREN,TYPECAST"/>
        </module>
        <module name="WhitespaceAfter">
            <property name="severity" value="ignore"/>
            <property name="tokens" value="SEMI,TYPECAST"/>
        </module>
        <module name="WhitespaceAround">
            <property name="severity" value="ignore"/>
            <property name="tokens" value="ASSIGN,BOR,COLON,EQUAL,GE,GT,LAND,LCURLY,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR"/>
        </module>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces">
            <property name="tokens" value="LITERAL_DO,LITERAL_ELSE,LITERAL_FOR,LITERAL_WHILE"/>
        </module>
        <module name="RightCurly"/>
        <module name="CovariantEquals">
            <property name="severity" value="ignore"/>
        </module>
        <module name="DefaultComesLast"/>
        <module name="DeclarationOrder">
            <property name="severity" value="ignore"/>
        </module>
        <module name="DoubleCheckedLocking">
            <property name="severity" value="ignore"/>
        </module>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ExplicitInitialization">
            <property name="severity" value="ignore"/>
        </module>
        <module name="FallThrough"/>
        <module name="FinalLocalVariable">
            <property name="severity" value="ignore"/>
        </module>
        <module name="HiddenField">
            <property name="tokens" value="VARIABLE_DEF"/>
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows">
            <property name="severity" value="ignore"/>
        </module>
        <module name="IllegalToken">
            <property name="severity" value="ignore"/>
            <property name="tokens" value="POST_INC,POST_DEC,LITERAL_SWITCH"/>
        </module>
        <module name="IllegalTokenText">
            <property name="severity" value="ignore"/>
        </module>
        <module name="IllegalType">
            <property name="severity" value="ignore"/>
            <property name="tokens" value="METHOD_DEF,VARIABLE_DEF"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="JUnitTestCase"/>
        <module name="MagicNumber">
            <property name="severity" value="ignore"/>
        </module>
        <module name="MissingCtor">
            <property name="severity" value="ignore"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable">
            <property name="severity" value="ignore"/>
        </module>
        <module name="MultipleStringLiterals">
            <property name="severity" value="ignore"/>
        </module>
        <module name="MultipleVariableDeclarations"/>
        <module name="NestedIfDepth">
            <property name="severity" value="ignore"/>
        </module>
        <module name="NestedTryDepth">
            <property name="severity" value="ignore"/>
        </module>
        <module name="PackageDeclaration">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ParameterAssignment"/>
        <module name="RedundantThrows">
            <property name="severity" value="ignore"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="RequireThis">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ReturnCount">
            <property name="severity" value="ignore"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone">
            <property name="severity" value="ignore"/>
        </module>
        <module name="SuperFinalize"/>
        <module name="ArrayTrailingComma"/>
        <module name="UnnecessaryParentheses"/>
        <module name="AvoidInlineConditionals">
            <property name="severity" value="ignore"/>
        </module>
        <module name="DesignForExtension">
            <property name="severity" value="ignore"/>
        </module>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="ignore"/>
        </module>
        <module name="InterfaceIsType"/>
        <module name="MutableException">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ThrowsCount">
            <property name="severity" value="ignore"/>
        </module>
        <module name="VisibilityModifier">
            <property name="severity" value="ignore"/>
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="4"/>
        </module>
        <module name="ClassDataAbstractionCoupling">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="severity" value="ignore"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="severity" value="ignore"/>
        </module>
        <module name="JavaNCSS">
            <property name="severity" value="ignore"/>
        </module>
        <module name="NPathComplexity">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ArrayTypeStyle"/>
        <module name="DescendantToken">
            <property name="severity" value="ignore"/>
        </module>
        <module name="FinalParameters">
            <property name="severity" value="ignore"/>
        </module>
        <module name="GenericIllegalRegexp">
            <property name="severity" value="ignore"/>
        </module>
        <module name="Indentation">
            <property name="severity" value="ignore"/>
        </module>
        <module name="RequiredRegexp">
            <property name="severity" value="ignore"/>
        </module>
        <module name="TodoComment">
            <property name="severity" value="ignore"/>
        </module>
        <module name="TrailingComment">
            <property name="severity" value="ignore"/>
        </module>
        <module name="UncommentedMain">
            <property name="severity" value="ignore"/>
        </module>
        <module name="UpperEll"/>
        <module name="Regexp">
            <property name="severity" value="ignore"/>
        </module>
        <module name="j2ee.EntityBean"/>
        <module name="j2ee.FinalStatic"/>
        <module name="j2ee.LocalHomeInterface"/>
        <module name="j2ee.LocalInterface"/>
        <module name="j2ee.MessageBean"/>
        <module name="j2ee.RemoteHomeInterface"/>
        <module name="j2ee.RemoteInterface"/>
        <module name="j2ee.SessionBean"/>
        <module name="j2ee.ThisParameter"/>
        <module name="j2ee.ThisReturn"/>
    </module>
    <module name="SuppressionFilter">
        <property name="file" value="${checkstyle.suppressions.file}"/>
    </module>
    <module name="NewlineAtEndOfFile"/>
    <module name="Translation"/>
</module>
