<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<property name="severity" value="info" />
	<module name="SuppressionCommentFilter" />
	<module name="TreeWalker">
		<module name="FileContentsHolder" />
		<module name="JavadocType">
			<property name="scope" value="protected" />
			<property name="severity" value="warning" />
		</module>
		<module name="JavadocMethod">
			<property name="scope" value="protected" />
			<property name="allowUndeclaredRTE" value="true" />
			<property name="severity" value="warning" />
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="protected" />
			<property name="severity" value="info" />
		</module>
		<module name="JavadocStyle">
			<property name="scope" value="protected" />
			<property name="severity" value="info" />
		</module>
		<module name="AbstractClassName" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<!-- <module name="UnusedImports" /> -->
		<!-- <module name="RedundantImport" /> -->
		<module name="IllegalImport" />
		<!-- <module name="AvoidStarImport" /> -->
		<module name="AnonInnerLength" />
		<module name="ExecutableStatementCount" />
		<module name="MethodLength" />
		<module name="ParameterNumber">
			<property name="severity" value="warning" />
		</module>
		<!-- <module name="EmptyForInitializerPad" /> -->
		<!-- <module name="EmptyForIteratorPad" /> -->
		<!-- <module name="NoWhitespaceAfter" /> -->
		<!-- <module name="NoWhitespaceBefore" /> -->
		<!-- <module name="OperatorWrap" /> -->
		<!-- <module name="MethodParamPad" /> -->
		<!-- <module name="ParenPad" /> -->
		<!-- <module name="TypecastParenPad" /> -->
		<!-- <module name="WhitespaceAfter" /> -->
		<!-- <module name="WhitespaceAround">
			<property name="tokens"
				value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND" />
		</module> -->
		<!-- <module name="ModifierOrder" /> -->
		<!-- <module name="RedundantModifier" /> -->
		<module name="AvoidNestedBlocks" />
		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />
		<!-- <module name="AvoidInlineConditionals" /> -->
		<module name="CovariantEquals" />
		<module name="DefaultComesLast" />
		<!-- <module name="DeclarationOrder" /> -->
		<!-- http://stackoverflow.com/questions/12795935/checkstyle-eclipse-plugin-doesnt-work -->
		<!--module name="DoubleCheckedLocking"/ -->
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<module name="ExplicitInitialization" />
		<module name="FallThrough" />
		<module name="FinalLocalVariable" />
		<!-- <module name="HiddenField" /> -->
		<module name="IllegalInstantiation" />
		<module name="IllegalCatch" />
		<module name="IllegalThrows" />
		<module name="IllegalToken" />
		<module name="IllegalTokenText" />
		<module name="IllegalType" />
		<module name="InnerAssignment" />
		<module name="JUnitTestCase" />
		<module name="MagicNumber">
			<property name="severity" value="warning" />
		</module>
		<module name="MissingCtor" />
		<module name="MissingSwitchDefault" />
		<module name="ModifiedControlVariable" />
		<module name="MultipleStringLiterals" />
		<module name="MultipleVariableDeclarations" />
		<module name="NestedIfDepth">
			<property name="max" value="2" />
			<property name="severity" value="warning" />
		</module>
		<module name="NestedTryDepth">
			<property name="max" value="2" />
			<property name="severity" value="warning" />
		</module>
		<module name="PackageDeclaration" />
		<module name="ParameterAssignment" />
		<module name="RedundantThrows" />
		<!-- <module name="RequireThis" /> -->
		<module name="ReturnCount" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="SuperClone" />
		<module name="SuperFinalize" />
		<module name="ArrayTrailingComma" />
		<module name="UnnecessaryParentheses" />
		<module name="DesignForExtension" />
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<module name="MutableException" />
		<module name="ThrowsCount">
			<property name="max" value="3" />
		</module>
		<module name="VisibilityModifier" />
		<module name="BooleanExpressionComplexity" />
		<module name="ClassDataAbstractionCoupling" />
		<module name="ClassFanOutComplexity" />
		<module name="CyclomaticComplexity">
			<property name="max" value="7" />
			<property name="severity" value="warning" />
		</module>
		<module name="JavaNCSS" />
		<module name="NPathComplexity" />
		<module name="Regexp" />
		<module name="UpperEll" />
		<module name="TrailingComment">
			<property name="legalComment" value="^\$.*\$$" />
		</module>
		<module name="TodoComment" />
		<module name="FinalParameters">
			<property name="severity" value="warning" />
		</module>
		<module name="DescendantToken" />
		<module name="ArrayTypeStyle" />
		<!-- Keeping in line with the JBoss IDE Formatter - https://github.com/jboss/ide-config/blob/master/eclipse/jboss-java-formatter.xml -->
		<!-- <module name="LineLength">
			<property name="max" value="128" />
		</module> -->
	</module>
	<module name="Translation">
		<property name="severity" value="info" />
	</module>
	<module name="NewlineAtEndOfFile">
		<property name="severity" value="info" />
	</module>
</module>
