<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2010 Michael Doberenz.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Michael Doberenz - initial API and implementation
-->
<!--
    Checkstyle-Configuration: Fuwjin
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <property name="tabWidth" value="3"/>
        <module name="JavadocType"/>
        <module name="JavadocMethod">
            <property name="allowMissingJavadoc" value="true"/>
            <property name="allowUndeclaredRTE" value="true"/>
        </module>
        <module name="JavadocStyle">
            <property name="checkEmptyJavadoc" value="true"/>
        </module>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName">
            <property name="format" value="^[a-z][a-z]*([A-Z][a-z]+)*$"/>
        </module>
        <module name="LocalVariableName">
            <property name="format" value="^[a-z][a-z]*([A-Z][a-z]+)*$"/>
        </module>
        <module name="MemberName">
            <property name="format" value="^[a-z][a-z]+([A-Z][a-z]+)*$"/>
        </module>
        <module name="MethodName">
            <property name="format" value="^[a-z][a-z]+([A-Z][a-z]+)*$"/>
        </module>
        <module name="PackageName">
            <property name="format" value="^org.fuwjin.[a-z]+(\.[a-z]+)*$"/>
        </module>
        <module name="ParameterName">
            <property name="format" value="^[a-z][a-z]+([A-Z][a-z]+)*$"/>
        </module>
        <module name="StaticVariableName">
            <property name="format" value="^[a-z][a-z]+([A-Z][a-z]+)*$"/>
        </module>
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-z]+([A-Z][a-z]+)*$"/>
        </module>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="ExecutableStatementCount">
            <property name="max" value="20"/>
        </module>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="30"/>
        </module>
        <module name="AnonInnerLength">
            <property name="max" value="11"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="4"/>
        </module>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceAfter"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI"/>
        </module>
        <module name="WhitespaceAround">
            <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LE,LITERAL_ASSERT,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND"/>
        </module>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="AvoidInlineConditionals"/>
        <module name="CovariantEquals"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="FinalLocalVariable"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="IllegalToken"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="RedundantThrows">
            <property name="allowUnchecked" value="true"/>
            <property name="allowSubclasses" value="true"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="ExplicitInitialization"/>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="UnnecessaryParentheses"/>
        <module name="VisibilityModifier"/>
        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="MutableException"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassFanOutComplexity">
            <property name="max" value="25"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="4"/>
        </module>
        <module name="NPathComplexity"/>
        <module name="Regexp">
            <property name="format" value="System\.out"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="Regexp">
            <property name="format" value="System\.err"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="Regexp">
            <property name="format" value="printStackTrace"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="UncommentedMain"/>
        <module name="UpperEll"/>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
    </module>
    <module name="FileLength">
        <property name="max" value="300"/>
    </module>
</module>
