<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<module name="TreeWalker">
		<module name="JavadocMethod" />
		<module name="JavadocType" />
		<module name="JavadocVariable">
			<property name="scope" value="private"/>
  			<property name="excludeScope" value="protected"/>
		</module>
		<module name="JavadocStyle">
			<property name="checkFirstSentence" value="false"/>
		</module>
	</module>
</module>