<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: Phicomm Checks
    Description: none
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <property name="charset" value="UTF-8"/>
  <property name="fileExtensions" value="java, properties, xml"/>
  <module name="TreeWalker">
    <module name="OuterTypeFilename"/>
    <module name="IllegalTokenText">
      <property name="tokens" value="STRING_LITERAL, CHAR_LITERAL"/>
      <property name="format" value="\\u00(09|0(a|A)|0(c|C)|0(d|D)|22|27|5(C|c))|\\(0(10|11|12|14|15|42|47)|134)"/>
      <property name="message" value="Consider using special escape sequence instead of octal value or Unicode escaped value."/>
    </module>
    <module name="AvoidEscapedUnicodeCharacters">
      <property name="allowEscapesForControlCharacters" value="true"/>
      <property name="allowByTailComment" value="true"/>
      <property name="allowNonPrintableEscapes" value="true"/>
    </module>
    <module name="LineLength">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.4 列限制：200"/>
      <property name="severity" value="error"/>
      <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
      <property name="max" value="200"/>
      <message key="maxLineLen" value="本行字符数 {1,number,integer}个，最多：{0,number,integer}个,否则违反了后台代码规范4.4 章节。"/>
    </module>
    <module name="AvoidStarImport"/>
    <module name="OneTopLevelClass"/>
    <module name="NoLineWrap"/>
    <module name="NeedBraces">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.1.1 使用大括号(即使是可选的)"/>
      <property name="severity" value="error"/>
      <message key="needBraces" value="''{0}'' 结构必须使用大括号 '''{}''' 否则违反了后台代码规范4.1.1规范。"/>
    </module>
    <module name="LeftCurly">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.1.2 非空块：K &amp; R 风格"/>
      <property name="severity" value="error"/>
      <property name="option" value="nlow"/>
      <property name="maxLineLength" value="100"/>
      <message key="line.previous" value="第 {1} 个字符 ''{0}'' 应位于前一行 否则违反了后台代码规范 4.1.2章节。"/>
    </module>
    <module name="RightCurly">
      <property name="severity" value="error"/>
      <property name="id" value="RightCurlySame"/>
      <property name="tokens" value="LITERAL_TRY,LITERAL_CATCH,LITERAL_FINALLY,LITERAL_IF,LITERAL_ELSE,LITERAL_DO"/>
      <message key="line.new" value="第 {1} 个字符 ''{0}'' 应位于新行，否则违反了后台代码规范 4.1.2章节。"/>
      <message key="line.same" value="第 {1} 个字符 ''{0}''应该与当前多代码块的下一部分 （if/else-if/else, do/while 或 try/catch/finally）位于同一行，否则违反了后台代码规范 4.1.2章节。"/>
    </module>
    <module name="RightCurly">
      <property name="severity" value="error"/>
      <property name="id" value="RightCurlyAlone"/>
      <property name="option" value="alone"/>
      <property name="tokens" value="CLASS_DEF,METHOD_DEF,CTOR_DEF,LITERAL_FOR,LITERAL_WHILE,STATIC_INIT,INSTANCE_INIT"/>
    </module>
    <module name="WhitespaceAround">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.6.2 水平空白"/>
      <property name="severity" value="error"/>
      <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,DO_WHILE,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,TYPE_EXTENSION_AND"/>
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="allowEmptyTypes" value="true"/>
      <property name="allowEmptyLoops" value="true"/>
      <message key="ws.notPreceded" value="WhitespaceAround: ''{0}'' is not preceded with whitespace 否则违反后台代码规范4.6.2章节."/>
      <message key="ws.notFollowed" value="WhitespaceAround: ''{0}'' is not followed by whitespace. Empty blocks may only be represented as '{}' when not part of a multi-block statement (4.1.3)"/>
    </module>
    <module name="OneStatementPerLine"/>
    <module name="MultipleVariableDeclarations">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.8.2.1 每次只声明一个变量"/>
      <property name="severity" value="error"/>
      <message key="multiple.variable.declarations.comma" value="每一个变量的定义必须在它的声明处，且在同一行，否则违反了后台代码规范4.8.2.1章节。"/>
    </module>
    <module name="ArrayTypeStyle">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.8.3.2 非C风格的数组声明"/>
      <property name="severity" value="error"/>
      <message key="array.type.style" value="数组大括号位置错误,数组声明中括号是类型的一部分，否则违反了后台代码4.8.3.2章节。"/>
    </module>
    <module name="MissingSwitchDefault">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.8.4 switch语句"/>
      <property name="severity" value="error"/>
      <message key="missing.switch.default" value="Switch 块未定义 default ,违反了4.8.4章节。"/>
    </module>
    <module name="FallThrough"/>
    <module name="UpperEll"/>
    <module name="ModifierOrder">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.8.7 类和成员的modifiers如果存在，则按Java语言规范中推荐的顺序出现。  "/>
      <property name="severity" value="error"/>
      <message key="mod.order" value="''{0}'' 修饰符顺序违反 后台代码规范 4.8.7 章节."/>
    </module>
    <module name="EmptyLineSeparator">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.6.1 空行"/>
      <property name="severity" value="error"/>
      <property name="allowNoEmptyLineBetweenFields" value="true"/>
      <message key="empty.line.separator" value="''{0}' 前应有空行 否则违反后台代码规范4.6.1章节。"/>
    </module>
    <module name="SeparatorWrap">
      <property name="id" value="SeparatorWrapDot"/>
    </module>
    <module name="SeparatorWrap">
      <property name="id" value="SeparatorWrapComma"/>
      <property name="option" value="EOL"/>
      <property name="tokens" value="COMMA"/>
    </module>
    <module name="SeparatorWrap">
      <property name="id" value="SeparatorWrapMethodRef"/>
      <property name="option" value="nl"/>
      <!-- <property name="tokens" value="METHOD_REF"/> -->
    </module>
    <module name="PackageName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2.1 包名全部小写，连续的单词只是简单地连接起来，不使用下划线。"/>
      <property name="severity" value="error"/>
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
      <message key="name.invalidPattern" value="Package name ''{0}'' must match pattern ''{1}'' 否则违反后台代码5.2.1章节关于变量命名的规范."/>
    </module>
    <module name="TypeName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2 标识符类型的规则"/>
      <property name="severity" value="error"/>
      <message key="name.invalidPattern" value="Type name ''{0}'' must match pattern ''{1}'' 否则违反后台代码规范5.2章节，关于变量命名的规范."/>
    </module>
    <module name="MemberName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2 标识符类型的规则"/>
      <property name="severity" value="error"/>
      <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
      <message key="name.invalidPattern" value="Member name ''{0}'' must match pattern ''{1}'',否则违反后台代码规范5.2章节，关于变量命名的规范.."/>
    </module>
    <module name="ParameterName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2.6 参数名"/>
      <property name="severity" value="error"/>
      <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
      <!-- <property name="accessModifiers" value="public"/> -->
      <message key="name.invalidPattern" value="Parameter name ''{0}'' must match pattern ''{1}'' 否则违反后台代码规范5.2章节，关于变量命名的规范."/>
    </module>
    <!--
    <module name="CatchParameterName">
      <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
      <message key="name.invalidPattern" value="Catch parameter name ''{0}'' must match pattern ''{1}''."/>
    </module>
     -->
    <module name="LocalVariableName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2.7 局部变量名"/>
      <property name="severity" value="error"/>
      <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
      <property name="tokens" value="VARIABLE_DEF"/>
      <message key="name.invalidPattern" value="Local variable name ''{0}'' must match pattern ''{1}'' 否则违反后台代码规范5.2.7章节，关于变量命名的规范.."/>
    </module>
    <module name="ClassTypeParameterName">
      <property name="severity" value="error"/>
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern" value="Class type name ''{0}'' must match pattern ''{1}'',否则违反后台代码规范5.2章节，关于变量命名的规范.."/>
    </module>
    <module name="MethodTypeParameterName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2 标识符类型的规则"/>
      <property name="severity" value="error"/>
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern" value="Method type name ''{0}'' must match pattern ''{1}'',否则违反后台代码规范5.2章节，关于变量命名的规范.."/>
    </module>
    <module name="InterfaceTypeParameterName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2.4章节"/>
      <property name="severity" value="error"/>
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern" value="Interface type name ''{0}'' must match pattern ''{1}'',否则违反后台代码规范5.2.4章节，关于变量命名的规范."/>
    </module>
    <module name="NoFinalizer"/>
    <module name="GenericWhitespace">
      <message key="ws.notPreceded" value="GenericWhitespace ''{0}'' is not preceded with whitespace."/>
      <message key="ws.followed" value="GenericWhitespace ''{0}'' is followed by whitespace."/>
      <message key="ws.preceded" value="GenericWhitespace ''{0}'' is preceded with whitespace."/>
      <message key="ws.illegalFollow" value="GenericWhitespace ''{0}'' should followed by whitespace."/>
    </module>
    <module name="AbbreviationAsWordInName">
      <property name="allowedAbbreviationLength" value="1"/>
      <property name="ignoreFinal" value="false"/>
    </module>
    <module name="OverloadMethodsDeclarationOrder">
      <metadata name="net.sf.eclipsecs.core.comment" value="3.4.2 重载：永不分离"/>
      <property name="severity" value="error"/>
      <message key="overload.methods.declaration" value="重载方法应写在一起，上一个重载方法位于第''{0}''行,否则违反了后台代码规范3.4.2 重载：永不分离。"/>
    </module>
    <module name="VariableDeclarationUsageDistance"/>
    <module name="CustomImportOrder">
      <property name="customImportOrderRules" value="STATIC###THIRD_PARTY_PACKAGE"/>
      <property name="sortImportsInGroupAlphabetically" value="true"/>
    </module>
    <module name="MethodParamPad"/>
    <module name="ParenPad"/>
    <module name="OperatorWrap">
      <property name="option" value="NL"/>
      <property name="tokens" value="BAND, BOR, BSR, BXOR, DIV, EQUAL, GE, GT, LAND, LE, LITERAL_INSTANCEOF, LOR, LT, MINUS, MOD, NOT_EQUAL, PLUS, QUESTION, SL, SR, STAR "/>
    </module>
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationMostCases"/>
      <property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF"/>
    </module>
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationVariables"/>
      <property name="tokens" value="VARIABLE_DEF"/>
      <property name="allowSamelineMultipleAnnotations" value="true"/>
    </module>
    <module name="NonEmptyAtclauseDescription"/>
    <module name="JavadocTagContinuationIndentation"/>
    <module name="SummaryJavadoc">
      <property name="forbiddenSummaryFragments" value="^@return the *|^This method returns |^A [{]@code [a-zA-Z0-9]+[}]( is a )"/>
    </module>
    <module name="JavadocParagraph"/>
    <module name="AtclauseOrder">
      <property name="target" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
      <property name="tagOrder" value="@param, @return, @throws, @deprecated"/>
    </module>
    <module name="JavadocMethod">
      <property name="minLineCount" value="2"/>
      <property name="allowedAnnotations" value="Override, Test"/>
      <property name="scope" value="public"/>
      <property name="allowThrowsTagsForSubclasses" value="true"/>
      <property name="allowMissingParamTags" value="true"/>
      <property name="allowMissingThrowsTags" value="true"/>
      <property name="allowMissingReturnTag" value="true"/>
    </module>
    <module name="MethodName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2.3方法名"/>
      <property name="severity" value="error"/>
      <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9_]*$"/>
      <message key="name.invalidPattern" value="Method name ''{0}'' must match pattern ''{1}'' 否则违反后台代码规范5.2.3章节，关于变量命名的规范."/>
    </module>
    <module name="SingleLineJavadoc">
      <property name="ignoreInlineTags" value="false"/>
    </module>
    <module name="EmptyCatchBlock">
      <property name="severity" value="error"/>
      <property name="exceptionVariableName" value="expected"/>
    </module>
    <module name="CommentsIndentation"/>
    <module name="Indentation">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.2 块缩进：4 个空格"/>
      <property name="severity" value="error"/>
      <message key="indentation.error" value="''{0}'' 缩进了{1}个缩进符，应为{2}个，否则违反了后台代码规范 4.2章节。"/>
    </module>
    <module name="ArrayTrailingComma">
      <metadata name="net.sf.eclipsecs.core.comment" value="4.8.3.1 数组初始化：可写成块状结构"/>
      <property name="severity" value="error"/>
      <message key="array.trailing.comma" value="数组尾元素后应有逗号'',''  否则违反后台代码规范4.8.3.1章节"/>
    </module>
    <module name="ConstantName">
      <metadata name="net.sf.eclipsecs.core.comment" value="5.2.4 常量名"/>
      <property name="severity" value="error"/>
      <message key="name.invalidPattern" value="名称 ''{0}'' 必须匹配表达式： ''{1}'' 否则违反后台代码规范5.2.4章节，关于变量命名的规范."/>
    </module>
  </module>
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
</module>
