<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">

    <module name="SuppressionFilter"/>

    <property name="fileExtensions" value="java, properties, xml"/>

    <!-- UTF-8 encoding -->
    <property name="charset" value="UTF-8"/>

    <!-- Unix line break -->
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>

    <!-- Tab formatting not allowed -->
    <module name="FileTabCharacter"/>

    <!-- Filter out Checkstyle warnings that have been suppressed with the @SuppressWarnings annotation -->
    <module name="SuppressWarningsFilter"/>

    <module name="TreeWalker">
        <!-- Make the @SuppressWarnings annotations available to Checkstyle -->
        <module name="SuppressWarningsHolder"/>


        <!-- White space required between operators -->
        <module name="GenericWhitespace"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

        <!-- Maximum number of characters per line (120) -->
        <module name="LineLength">
            <property name="max" value="120"/>
            <property name="ignorePattern" value="^import"/>
        </module>

        <!-- All code blocks with brackets -->
        <module name="NeedBraces"/>

        <!-- Initial brackets in the same line of class && methods definition -->
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>

        <!-- In line breaks, the operator must begin the line -->
        <module name="OperatorWrap"/>

        <module name="RedundantModifier">
            <!-- METHOD_DEF, VARIABLE_DEF, ANNOTATION_FIELD_DEF, INTERFACE_DEF, CTOR_DEF, CLASS_DEF, ENUM_DEF -->
            <property name="tokens" value="METHOD_DEF"/>
        </module>

        <!-- Only one statement per line -->
        <module name="OneStatementPerLine"/>

        <!-- Maximum number of lines per method (15) -->
        <module name="MethodLength">
            <property name="max" value="15"/>
        </module>

        <!-- Empty catch blocks not allowed -->
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected"/>
        </module>

        <!-- Forbidden try-catch blocks nesting -->
        <module name="NestedTryDepth">
            <property name="max" value="3"/>
        </module>

        <!-- Use constants to handle string literals -->
        <module name="SuperClone"/>

        <!-- Maximum number of method parameters (4) -->
        <module name="ParameterNumber">
            <property name="max" value="4"/>
        </module>

        <!-- Blank characters not allowed between the method names and brackets -->
        <module name="MethodParamPad"/>

        <!-- Magic Numbers not allowed -->
        <module name="MagicNumber"/>

        <!-- Method parameters always immutable -->
        <module name="FinalParameters"/>

        <!-- Review boolean expressions like  if (b == true), b || true, !false, etc. -->
        <module name="SimplifyBooleanExpression"/>
        <!-- Review complexity in boolean return code blocks -->
        <module name="SimplifyBooleanReturn"/>
        <!-- Long constants defined with 'L' instead with 'l'.Java Language Specification, Section 3.10.1. -->
        <module name="UpperEll"/>

        <module name="UnusedImports"/>

        <module name="IllegalImport">
            <property name="illegalPkgs"
                      value="sun, org.apache.log4j, org.apache.commons.logging, ch.qos.logback, com.sun"/>
        </module>

        <module name="RedundantImport"/>
    </module>

    <!-- Maximum number of lines per class (250) -->
    <module name="FileLength">
        <property name="max" value="250"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>
</module>
