<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!-- commons lang customization of default Checkstyle behavior -->
<module name="Checker">
    <property name="localeLanguage" value="en"/>
    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java,xml"/>
    </module>
    <module name="TreeWalker">
        <module name="EmptyStatement"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="AvoidNestedBlocks"/>
        <module name="HiddenField">
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>
        <module name="OneStatementPerLine"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="HideUtilityClassConstructor"/>
        <!--<module name="MutableException"/>-->
        <module name="ThrowsCount">
            <property name="max" value="5"/>
        </module>
        <!--<module name="InnerTypeLast"/> cant find-->

        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="NeedBraces"/>
        <module name="RedundantThrows">
            <property name="allowUnchecked" value="true"/>
            <property name="allowSubclasses" value="true"/>
        </module>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="SimplifyBooleanReturn"/>
        <module name="NestedForDepth">
            <property name="max" value="6"/>
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="4"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>
    </module>
    <module name="FileLength">
        <property name="max" value="700"/>
    </module>
</module>