<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <property name="severity" value="warning"/>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="AvoidStarImport">
      <property name="excludes" value="org.junit.Assert,org.mockito.Mockito,org.hamcrest.core"/>
    </module>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="LineLength">
      <property name="max" value="160"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="250"/>
      <property name="countEmpty" value="false"/>
    </module>
    <module name="AnonInnerLength">
      <property name="max" value="60"/>
    </module>
    <module name="ParameterNumber">
      <property name="max" value="10"/>
      <property name="tokens" value="METHOD_DEF"/>
    </module>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier">
      <property name="tokens" value="VARIABLE_DEF,ANNOTATION_FIELD_DEF,INTERFACE_DEF"/>
    </module>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <module name="LeftCurly">
      <property name="maxLineLength" value="150"/>
    </module>
    <module name="AvoidNestedBlocks"/>
    <module name="CovariantEquals"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="RedundantThrows">
      <property name="allowUnchecked" value="true"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="NestedIfDepth">
      <property name="max" value="4"/>
    </module>
    <module name="NestedTryDepth">
      <property name="max" value="4"/>
    </module>
    <module name="SuperClone"/>
    <module name="SuperFinalize"/>
    <module name="PackageDeclaration"/>
    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="ClassFanOutComplexity">
      <property name="max" value="50"/>
    </module>
    <module name="CyclomaticComplexity">
      <property name="max" value="20"/>
    </module>
    <module name="JavaNCSS">
      <property name="methodMaximum" value="250"/>
      <property name="classMaximum" value="1000"/>
    </module>
    <module name="UpperEll"/>
    <module name="ArrayTypeStyle"/>
  </module>
  <module name="FileLength"/>
</module>
