<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
	<module name="SeverityMatchFilter">
		<!-- report all violations except ignore -->
		<property name="severity" value="ignore"/>
		<property name="acceptOnMatch" value="false"/>
	</module>
	<module name="FileTabCharacter">
		<property name="eachLine" value="true"/>
		<property name="fileExtensions" value="java"/>
	</module>
	<module name="SuppressWarningsFilter" />
	<module name="TreeWalker">
        <module name="SuppressionCommentFilter"/>
		<property name="tabWidth" value="4"/>
		<module name="AnnotationLocation">
			<property name="allowSamelineMultipleAnnotations" value="false"/>
			<property name="allowSamelineSingleParameterlessAnnotation" value="true"/>
			<property name="allowSamelineParameterizedAnnotation" value="false"/>
		</module>
		<module name="ArrayTrailingComma">
			<property name="severity" value="warning"/>
		</module>
		<module name="ArrayTypeStyle">
			<property name="javaStyle" value="true"/>
			<property name="severity" value="warning"/>
		</module>
		<module name="AvoidNestedBlocks">
			<property name="allowInSwitchCase" value="true"/>
		</module>
		<module name="AvoidStarImport">
			<!--<property name="excludes" value=""/>-->
			<property name="severity" value="warning"/>
		</module>
		<module name="AvoidStaticImport">
			<property name="excludes" value="java.util.stream.Collectors.*"/>
		</module>
		<module name="ClassTypeParameterName"/>
		<module name="CommentsIndentation">
			<property name="severity" value="warning"/>
		</module>
		<module name="ConstantName">
			<property name="format" value="^log(ger)?|[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
		</module>
		<module name="CovariantEquals"/>
		<module name="DeclarationOrder"/>
		<module name="DefaultComesLast"/>
		<module name="EmptyBlock"/>
		<module name="EmptyCatchBlock">
			<property name="exceptionVariableName" value="expected|ignore"/>
		</module>
		<module name="EmptyForInitializerPad"/>
		<module name="EmptyForIteratorPad"/>
		<module name="EmptyLineSeparator">
			<property name="allowNoEmptyLineBetweenFields" value="true"/>
			<property name="tokens" value="IMPORT,CLASS_DEF,INTERFACE_DEF,ENUM_DEF,STATIC_INIT,INSTANCE_INIT,METHOD_DEF,CTOR_DEF,VARIABLE_DEF"/>
		</module>
		<module name="EmptyStatement"/>
		<module name="EqualsHashCode"/>
		<module name="ExplicitInitialization"/>
		<module name="FallThrough" />

		<module name="FinalClass"/>
		<module name="HiddenField">
			<property name="ignoreConstructorParameter" value="true"/>
			<property name="ignoreSetter" value="true"/>
			<property name="setterCanReturnItsClass" value="true"/>
			<property name="tokens" value="VARIABLE_DEF,LAMBDA"/>
		</module>
		<module name="IllegalImport"/>

		<module name="Indentation">
			<property name="basicOffset" value="4"/>
			<property name="braceAdjustment" value="0"/>
			<property name="caseIndent" value="4"/>
			<property name="throwsIndent" value="4"/>
			<property name="lineWrappingIndentation" value="4"/>
			<property name="arrayInitIndent" value="4"/>
			<property name="forceStrictCondition" value="false"/>
			<property name="severity" value="warning"/>
		</module>
		<module name="InnerTypeLast"/>
		<module name="InterfaceTypeParameterName"/>
		<module name="LeftCurly"/>
		<module name="LineLength">
			<property name="max" value="120"/>
		</module>
		<module name="MissingDeprecated">
			<property name="skipNoJavadoc" value="true"/>
		</module>
		<module name="MissingOverride"/>
		<module name="MissingSwitchDefault" />
		<module name="ModifiedControlVariable"/>
		<module name="ModifierOrder"/>
		<module name="MultipleStringLiterals">
			<property name="ignoreStringsRegexp" value="^(&quot;&quot;)|(&quot;, &quot;)|(&quot;.&quot;)$"/>
		</module>
		<module name="MultipleVariableDeclarations"/>
		<module name="NeedBraces">
			<property name="allowEmptyLoopBody" value="true"/>
		</module>
		<module name="NoLineWrap">
			<property name="tokens" value="PACKAGE_DEF,IMPORT"/>
		</module>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="OneStatementPerLine"/>
		<module name="OneTopLevelClass"/>
		<module name="OuterTypeFilename"/>
		<module name="OverloadMethodsDeclarationOrder" />
		<module name="PackageAnnotation"/>
		<module name="PackageDeclaration"/>
		<module name="PackageName" />
		<module name="ParameterAssignment"/>
		<module name="ParenPad"/>
		<module name="RedundantImport"/>
		<module name="RedundantModifier"/>
		<module name="RequireThis">
			<property name="checkMethods" value="false"/>
		</module>
		<module name="RightCurly"/>
		<module name="SimplifyBooleanExpression"/>
		<module name="SimplifyBooleanReturn"/>
		<module name="StringLiteralEquality"/>
		<module name="SuperClone"/>
		<module name="SuperFinalize"/>
		<module name="SuppressWarningsHolder"/>
		<module name="TrailingComment"/>
		<module name="TypecastParenPad"/>
		<module name="UncommentedMain"/>
		<module name="UnnecessaryParentheses"/>
		<module name="UnusedImports"/>
		<module name="UpperEll"/>
		<module name="VisibilityModifier">
			<property name="protectedAllowed" value="true"/>
		</module>

		<module name="WhitespaceAfter"/>
		<module name="WhitespaceAround">
			<property name="allowEmptyMethods" value="true"/>
			<property name="allowEmptyConstructors" value="true"/>
			<property name="allowEmptyTypes" value="true"/>
			<property name="allowEmptyLoops" value="true"/>
			<property name="allowEmptyLambdas" value="true"/>
		</module>
	</module>
</module>
