<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">

	<module name="Header">
		<property name="headerFile" value="${checkStyleDir}/checkstyle-java-header.txt" />
		<property name="fileExtensions" value="java" />
	</module>

</module>
