<?xml version="1.0" encoding="US-ASCII"?>
<!--
 ! Copyright (c) 2016-2018 Red Hat, Inc.
 !
 ! Licensed under the Apache License, Version 2.0 (the "License");
 ! you may not use this file except in compliance with the License.
 ! You may obtain a copy of the License at
 !
 !     http://www.apache.org/licenses/LICENSE-2.0
 !
 ! Unless required by applicable law or agreed to in writing, software
 ! distributed under the License is distributed on an "AS IS" BASIS,
 ! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ! See the License for the specific language governing permissions and
 ! limitations under the License.
 `-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="NewlineAtEndOfFile"/>

  <module name="FileLength"/>

  <module name="RegexpHeader">
    <property name="fileExtensions" value="java"/>
    <property name="headerFile" value="${checkstyle.header.file}"/>
  </module>

  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>

  <module name="TreeWalker">
    <module name="RegexpSinglelineJava">
      <property name="format" value="\s+$"/>
      <property name="message" value="Line has trailing spaces."/>
      <property name="ignoreComments" value="true"/>
    </module>

  <property name="cacheFile" value="${checkstyle.cache.file}"/>
    <property name="tabWidth" value="4"/>

    <module name="SuppressWarningsHolder"/>
    <module name="FileContentsHolder"/>

    <module name="LeftCurly">
      <property name="option" value="nl"/>
    </module>
    <module name="RightCurly">
      <property name="option" value="alone"/>
    </module>
    <module name="LineLength">
      <property name="max" value="160" />
    </module>

    <module name="JavadocMethod">
      <property name="severity" value="warning"/>
      <property name="scope" value="protected"/>
    </module>
    <module name="JavadocType">
      <property name="scope" value="protected"/>
      <property name="allowUnknownTags" value="true" />
    </module>
    <module name="JavadocVariable">
      <property name="severity" value="info"/>
      <property name="scope" value="protected"/>
    </module>

    <module name="MemberName" />
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>

    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>

    <module name="MethodLength"/>
    <module name="ParameterNumber"/>

    <module name="EmptyForIteratorPad">
      <property name="option" value="space"/>
    </module>
    <module name="OperatorWrap"/>
    <module name="ParenPad">
      <property name="option" value="space" />
    </module>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>
    <module name="MethodParamPad"/>
    <module name="GenericWhitespace"/>

    <module name="ModifierOrder"/>

    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock">
      <property name="option" value="text"/>
    </module>
    <!-- <module name="NeedBraces"/> -->

    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="HiddenField">
      <property name="severity" value="warning"/>
      <property name="ignoreSetter" value="true"/>
      <property name="ignoreConstructorParameter" value="true"/>
    </module>
    <module name="IllegalInstantiation"/>
    <module name="InnerAssignment"/>
    <module name="MagicNumber">
      <property name="ignoreNumbers" value="-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 31, 32, 37, 64, 100, 128, 256, 512, 1000, 1024, 65535"/>
      <property name="ignoreHashCodeMethod" value="true"/>
    </module>
    <module name="MissingSwitchDefault"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>

    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="VisibilityModifier">
      <property name="protectedAllowed" value="true"/>
      <property name="packageAllowed" value="true"/>
    </module>

    <module name="ArrayTypeStyle"/>
    <module name="UpperEll"/>
  </module>

  <module name="SuppressWarningsFilter"/>

  <module name="UniqueProperties"/>

  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE_OFF\: (.+)"/>
    <property name="onCommentFormat" value="CHECKSTYLE_ON\: (.+)"/>
    <property name="checkFormat" value="$1"/>
  </module>

</module>
