<?xml version="1.0" encoding="utf-8"?>
<!--
# This file is part of the ChillDev-Parent.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2015 © by Rafał Wrzeszcz - Wrzasq.pl.
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- code formatting -->
    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="FileLength"/>

    <!-- file headers -->
    <module name="RegexpHeader">
        <property name="headerFile" value="${checkstyle.project.basedir}/src/main/checkstyle/java.header"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="TreeWalker">
        <property name="cacheFile" value="${checkstyle.cache.file}"/>

        <!-- naming convenctions -->
        <module name="AbstractClassName"/>
        <module name="ClassTypeParameterName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
        </module>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodTypeParameterName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
        </module>
        <module name="InterfaceTypeParameterName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AbbreviationAsWordInName"/>

        <!-- code formatting -->
        <module name="AnnotationUseStyle"/>
        <module name="ArrayTrailingComma"/>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="GenericWhitespace"/>
        <module name="ImportOrder">
            <property name="groups" value="java,javax"/>
            <property name="separated" value="true"/>
        </module>
        <module name="Indentation"/>
        <module name="CommentsIndentation"/>
        <module name="LeftCurly">
            <property name="maxLineLength" value="120"/>
            <property name="option" value="nl"/>
            <property name="tokens" value="CLASS_DEF,INTERFACE_DEF,CTOR_DEF,METHOD_DEF"/>
        </module>
        <module name="LeftCurly">
            <property name="maxLineLength" value="120"/>
            <property name="option" value="nlow"/>
            <property name="tokens" value="LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE"/>
        </module>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="MethodParamPad"/>
        <module name="ModifierOrder"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="NeedBraces"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OneStatementPerLine"/>
        <module name="OperatorWrap"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="ParenPad"/>
        <module name="RightCurly"/>
        <module name="TypecastParenPad"/>
        <module name="UnnecessaryParentheses"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
        <module name="EmptyLineSeparator"/>
        <module name="UpperEll"/>

        <!-- code organisation -->
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>
        <module name="DeclarationOrder"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="EmptyStatement"/>
        <module name="ExplicitInitialization"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows"/>
        <module name="MagicNumber"/>
        <module name="MultipleStringLiterals"/>
        <module name="OneTopLevelClass"/>
        <module name="OuterTypeFilename"/>
        <module name="OuterTypeNumber"/>
        <module name="PackageDeclaration"/>
        <module name="RedundantModifier"/>
        <module name="RequireThis"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="UnusedImports"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>

        <!-- code size and metrics -->
        <module name="ExecutableStatementCount"/>
        <module name="MethodLength"/>
        <module name="AnonInnerLength"/>
        <module name="ParameterNumber"/>
        <module name="MethodCount"/>
        <module name="ClassFanOutComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="NPathComplexity"/>
        <module name="JavaNCSS"/>

        <!-- documentation -->
        <module name="JavadocMethod"/>
        <module name="JavadocStyle"/>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="NonEmptyAtclauseDescription"/>
        <module name="JavadocTagContinuationIndentation"/>
        <module name="AtclauseOrder"/>
        <module name="JavadocParagraph"/>
        <module name="SingleLineJavadoc"/>

        <!-- early detected flawns -->
        <module name="CovariantEquals"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="MutableException"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>

        <!-- needed for ignoring -->
        <module name="FileContentsHolder"/>
    </module>

    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="CHECKSTYLE:OFF: ([\w\|]+)"/>
        <property name="onCommentFormat" value="CHECKSTYLE:ON: ([\w\|]+)"/>
        <property name="checkFormat" value="$1"/>
    </module>
</module>
