<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="LeftCurly">
            <property name="option" value="nl"/>
        </module>
        <module name="RightCurly">
            <property name="option" value="alone"/>
        </module>
		<module name="NeedBraces">
		</module>

		<module name="MagicNumber">
		</module>

		<module name="LineLength">
		</module>

		<module name="ArrayTypeStyle">
		</module>
<!--
		<module name="FinalParameters">
		</module>
-->

		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
		</module>
		<module name="MethodName">
		</module>
		<module name="MemberName">
			<property name="format" value="^m_[a-z][a-zA-Z0-9]*$"/>
		</module>
		<module name="ParameterName">
			<property name="format" value="^p_[a-z][a-zA-Z0-9]*$"/>
		</module>
		<module name="StaticVariableName">
			<property name="format" value="^s_[a-z][a-zA-Z0-9]*$"/>
		</module>
		<module name="LocalVariableName">
			<property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
		</module>
		<module name="LocalFinalVariableName">
			<property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
		</module>
		<module name="ConstantName">
		</module>
		<module name="TypeName">
		</module>

		<module name="ModifierOrder">
		</module>
		<module name="RedundantModifier">
		</module>

		<module name="AvoidStarImport">
		</module>
		<module name="RedundantImport">
		</module>
		<module name="UnusedImports">
		</module>

    </module>
</module>
