<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: NSL_Src_Checks
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="FileLength">
        <property name="max" value="2000"/>
    </module>
    <module name="FileTabCharacter">
        <property name="severity" value="info"/>
    </module>
    <module name="TreeWalker">
        <property name="fileExtensions" value=".java, .jws, .jcs, .jpf"/>
        <module name="AbstractClassName">
            <property name="format" value="^Abstract[A-Z][a-zA-Z0-9]*$"/>
        </module>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidInlineConditionals"/>
        <module name="AvoidNestedBlocks">
            <property name="severity" value="info"/>
        </module>
        <module name="AvoidStarImport">
            <property name="severity" value="info"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="severity" value="info"/>
        </module>
        <module name="ConstantName">
            <property name="format" value="^[A-Z][A-Z_0-9]*$"/>
        </module>
        <module name="CovariantEquals">
            <property name="severity" value="error"/>
        </module>
        <module name="DeclarationOrder">
            <property name="severity" value="info"/>
        </module>
        <module name="DefaultComesLast">
            <property name="severity" value="error"/>
        </module>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="EmptyForIteratorPad">
            <property name="severity" value="info"/>
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="error"/>
        </module>
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode">
            <property name="severity" value="error"/>
        </module>
        <module name="FinalClass"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="HideUtilityClassConstructor"/>
        <module name="IllegalCatch"/>
        <module name="IllegalImport"/>
        <module name="IllegalInstantiation">
            <property name="severity" value="error"/>
        </module>
        <module name="ImportOrder">
            <property name="groups" value="java,javax,org,com,gov"/>
            <property name="separated" value="true"/>
            <property name="severity" value="info"/>
        </module>        
        <module name="Indentation">
            <property name="severity" value="info"/>
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="error"/>
        </module>
        <module name="InterfaceIsType"/>
        <module name="JavadocMethod">
            <property name="severity" value="info"/>
            <property name="allowUndeclaredRTE" value="true"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="JavadocStyle">
            <property name="severity" value="info"/>
            <property name="checkEmptyJavadoc" value="true"/>
        </module>
        <module name="JavadocType">
            <property name="severity" value="info"/>
        </module>
        <module name="JavadocVariable">
            <property name="severity" value="info"/>
        </module>
        <module name="LeftCurly">
            <property name="severity" value="info"/>
        </module>
        <module name="LineLength">
            <property name="severity" value="info"/>
            <property name="ignorePattern" value="^import.*$"/>
            <property name="max" value="100"/>
        </module>
        <module name="LocalFinalVariableName">
            <property name="format" value="^[A-Z][A-Z_0-9]*$"/>
        </module>
        <module name="LocalVariableName">
            <property name="format" value="(^[a-z][A-Za-z0-9][A-Za-z0-9]*$|^i$|^e$)"/>
        </module>
        <module name="MagicNumber">
            <property name="severity" value="info"/>
        </module>
        <module name="MemberName">
            <property name="format" value="^[a-z][A-Za-z_0-9][A-Za-z0-9]*$"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="100"/>
        </module>
        <module name="MethodName"/>
        <module name="MethodParamPad">
            <property name="severity" value="info"/>
        </module>
        <module name="MissingSwitchDefault">
            <property name="severity" value="error"/>
        </module>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder">
            <property name="severity" value="info"/>
        </module>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations">
            <property name="severity" value="error"/>
        </module>
        <module name="NeedBraces">
            <property name="severity" value="info"/>
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NoWhitespaceAfter">
            <property name="severity" value="info"/>
        </module>
        <module name="NoWhitespaceBefore">
            <property name="severity" value="info"/>
        </module>
        <module name="OperatorWrap">
            <property name="severity" value="info"/>
        </module>
        <module name="PackageDeclaration">
            <property name="severity" value="error"/>
        </module>
        <module name="PackageName">
            <property name="severity" value="error"/>
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>
        <module name="ParameterAssignment"/>
        <module name="ParameterName">
            <property name="severity" value="error"/>
            <property name="format" value="^[a-z][A-Za-z_0-9][A-Za-z0-9]*$"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="5"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>
        <module name="ParenPad">
            <property name="severity" value="info"/>
        </module>
        <module name="RedundantImport"/>
        <module name="RedundantModifier">
            <property name="severity" value="info"/>
        </module>
        <module name="ReturnCount">
            <property name="severity" value="info"/>
            <property name="max" value="1"/>
        </module>
        <module name="RightCurly">
            <property name="severity" value="info"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName">
            <property name="format" value="^[a-z][A-Za-z_0-9][A-Za-z0-9]*$"/>
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="error"/>
        </module>
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>
        <module name="TypeName">
            <property name="severity" value="error"/>
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
            <property name="tokens" value="CLASS_DEF"/>
        </module>
        <module name="TypeName">
            <property name="severity" value="info"/>
            <property name="format" value="(^I[A-Z][a-zA-Z0-9]*$|[A-Z][a-zA-Z0-9]*Home$)"/>
            <property name="tokens" value="INTERFACE_DEF"/>
        </module>
        <module name="TypecastParenPad">
            <property name="severity" value="info"/>
        </module>
        <module name="UncommentedMain"/>
        <module name="UnusedImports"/>
        <module name="UpperEll">
            <property name="severity" value="info"/>
        </module>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="WhitespaceAfter">
            <property name="severity" value="info"/>
        </module>
        <module name="WhitespaceAround">
            <property name="severity" value="info"/>
        </module>
    </module>
    <module name="RegexpMultiline">
		<property name="severity" value="error"/>
		<property name="format" value="System.exit"/>
		<property name="message" value="System.exit is not allowed in production code."/>
	</module>
	<module name="RegexpMultiline">
		<property name="severity" value="error"/>
		<property name="format" value="System.out.print"/>
		<property name="message" value="System.out is not allowed in production code."/>
	</module>
	<module name="RegexpMultiline">
		<property name="severity" value="error"/>
		<property name="format" value="System.err.print"/>
		<property name="message" value="System.err is not allowed in production code."/>
	</module>
	<module name="RegexpMultiline">
		<property name="severity" value="warning"/>
		<property name="format" value="catch.?.?\(?.?.?Throwable"/>
		<property name="message" value="Catching throwable is not allowed in production code."/>
	</module>
	<module name="RegexpMultiline">
		<property name="severity" value="error"/>
		<property name="format" value="printStackTrace"/>
		<property name="message" value="Printing stack traces is not allowed in production code."/>
	</module>
	<module name="RegexpMultiline">
		<property name="severity" value="error"/>
		<property name="format" value="Runtime.exec"/>
		<property name="message" value="Execution of scripts is not allowed in J2EE."/>
	</module>
	<module name="RegexpMultiline">
		<property name="format" value="FIXME"/>
		<property name="message" value="Problem in code still to be addressed."/>
	</module>
</module>
