<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!-- This configuration file was written by the eclipse-cs plugin configuration editor -->
<!-- Checkstyle-Configuration: V3trix Checkstyle Description: none -->
<module name="Checker">
    <property name="severity" value="warning" />
    <module name="SuppressWarningsFilter" />
    <module name="TreeWalker">
        <!-- enable @SuppressWarnings -->
        <module name="SuppressWarningsHolder" />

        <module name="FileContentsHolder" />
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="LeftCurly">
            <property name="maxLineLength" value="180" />
        </module>
        <module name="NeedBraces" />
        <module name="RightCurly" />
        <module name="CovariantEquals" />
        <module name="DeclarationOrder" />
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="ExplicitInitialization" />
        <module name="FallThrough" />
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true" />
            <property name="ignoreSetter" value="true" />
        </module>
        <module name="IllegalInstantiation" />
        <module name="InnerAssignment" />
        <module name="MissingSwitchDefault" />
        <module name="ModifiedControlVariable" />
        <module name="MultipleVariableDeclarations" />
        <module name="OneStatementPerLine" />
        <module name="PackageDeclaration" />
        <module name="ParameterAssignment" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="FinalClass" />
        <module name="InterfaceIsType" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />
        <module name="ArrayTypeStyle" />
        <module name="OuterTypeFilename" />
        <module name="TrailingComment" />
        <module name="UpperEll" />
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />
        <module name="ConstantName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />
        <module name="LineLength">
            <property name="max" value="180" />
            <property name="tabWidth" value="2" />
        </module>
        <module name="ParameterNumber" />
        <module name="EmptyForIteratorPad" />
        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />
    </module>
    <module name="FileLength" />
    <module name="Translation" />
    <module name="SuppressionCommentFilter" />
    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java" />
    </module>
</module>
